<a href="https://colab.research.google.com/github/UtkarshAIITB/IPL-Data-Analysis/blob/main/DL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [101]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [102]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [103]:
new = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/new.csv')
# new.head()

In [104]:
t = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/t.csv')
# t.head()

In [105]:
t.drop(columns = ['Unnamed: 0'], inplace = True)
t.head()

       id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  597998  2013-04-03      9  ...           128          0           1
1  597998  2013-04-03      9  ...           128          4           1
2  597998  2013-04-03      9  ...           128          5           1
3  597998  2013-04-03      9  ...           128          5           1
4  597998  2013-04-03      9  ...           128          5           1

[5 rows x 17 columns]

In [106]:
new.drop(columns = ['Unnamed: 0'], inplace = True)

In [107]:
new.head()

       id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  335982  2008-04-18      5  ...           222          1           0
1  335982  2008-04-18      5  ...           222          1           0
2  335982  2008-04-18      5  ...           222          2           0
3  335982  2008-04-18      5  ...           222          2           0
4  335982  2008-04-18      5  ...           222          2           0

[5 rows x 17 columns]

In [108]:
# new is the training set and t is the test set

In [109]:
tnew = t.drop(t[(t.over <= 14.0) | (t.over >=16.0)].index)
tnew.reset_index(drop = True)
y1test = tnew['total_runs_y']
y2test = tnew['winner']
tnew.drop(columns = ['id', 'date', 'year', 'total_runs_y', 'winner'], inplace = True)
tnew.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      9      6            9       1  ...    0            0         93           5
1      9      6            9       1  ...    0            0         94           5
2      9      6            9       1  ...    0            0         94           5
3      9      6            9       1  ...    0            0         94           5
4      9      6            9       1  ...    0            0         95           5

[5 rows x 12 columns]

In [110]:
xnew = new.drop(new[(new.over <=14.0) | (new.over >=16.0)].index)
xnew.reset_index(drop = True)
y1train = xnew['total_runs_y']
y2train = xnew['winner']
xnew.drop(columns = ['id', 'date', 'year', 'total_runs_y', 'winner'], inplace = True)
xnew.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      5      9            5       1  ...    0            0        134           2
1      5      9            5       1  ...    0            0        135           2
2      5      9            5       1  ...    0            0        141           2
3      5      9            5       1  ...    0            0        145           2
4      5      9            5       1  ...    0            0        147           2

[5 rows x 12 columns]

In [111]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [112]:
xnewt = sc.fit_transform(xnew) 
tnewt = sc.fit_transform(tnew)

In [113]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [184]:
model = Sequential()
model.add(Dense(200, activation = 'relu'))
model.add(Dropout(0.5))

model.add(Dense(100, activation = 'relu'))
model.add(Dropout(0.5))

model.add(Dense(50, activation = 'relu'))
model.add(Dropout(0.5))

model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

In [185]:
model.fit(x=xnewt, y=y1train, epochs=300, 
          validation_data=(tnewt,y1test))

Epoch 1/300
540/540 [==============================] - 2s 2ms/step - loss: 4083.1348 - val_loss: 359.6973
Epoch 2/300
540/540 [==============================] - 1s 2ms/step - loss: 1590.6937 - val_loss: 264.9135
Epoch 3/300
540/540 [==============================] - 1s 2ms/step - loss: 1486.4733 - val_loss: 251.6593
Epoch 4/300
540/540 [==============================] - 1s 2ms/step - loss: 1465.0397 - val_loss: 245.2000
Epoch 5/300
540/540 [==============================] - 1s 2ms/step - loss: 1423.4463 - val_loss: 340.7914
Epoch 6/300
540/540 [==============================] - 1s 2ms/step - loss: 1385.7841 - val_loss: 218.0543
Epoch 7/300
540/540 [==============================] - 1s 2ms/step - loss: 1335.3812 - val_loss: 234.1846
Epoch 8/300
540/540 [==============================] - 1s 2ms/step - loss: 1337.3740 - val_loss: 192.2826
Epoch 9/300
540/540 [==============================] - 1s 2ms/step - loss: 1280.6667 - val_loss: 200.5973
Epoch 10/300
540/540 [==============================] - 1s 2ms/step - loss: 1308.6388 - val_loss: 195.6179
Epoch 11/300
540/540 [==============================] - 1s 2ms/step - loss: 1282.3434 - val_loss: 228.8474
Epoch 12/300
540/540 [==============================] - 1s 2ms/step - loss: 1255.3839 - val_loss: 211.9704
Epoch 13/300
540/540 [==============================] - 1s 2ms/step - loss: 1212.3984 - val_loss: 208.9758
Epoch 14/300
540/540 [==============================] - 1s 2ms/step - loss: 1218.7247 - val_loss: 195.8445
Epoch 15/300
540/540 [==============================] - 1s 2ms/step - loss: 1223.0571 - val_loss: 191.6125
Epoch 16/300
540/540 [==============================] - 1s 2ms/step - loss: 1192.5729 - val_loss: 186.0886
Epoch 17/300
540/540 [==============================] - 1s 2ms/step - loss: 1151.7365 - val_loss: 195.7939
Epoch 18/300
540/540 [==============================] - 1s 2ms/step - loss: 1160.0558 - val_loss: 173.6478
Epoch 19/300
540/540 [==============================] - 1s 2ms/step - loss: 1159.9255 - val_loss: 216.9327
Epoch 20/300
540/540 [==============================] - 1s 2ms/step - loss: 1111.9664 - val_loss: 187.9186
Epoch 21/300
540/540 [==============================] - 1s 2ms/step - loss: 1122.0541 - val_loss: 199.2828
Epoch 22/300
540/540 [==============================] - 1s 2ms/step - loss: 1088.3429 - val_loss: 253.3522
Epoch 23/300
540/540 [==============================] - 1s 2ms/step - loss: 1074.4547 - val_loss: 178.5803
Epoch 24/300
540/540 [==============================] - 1s 2ms/step - loss: 1059.5780 - val_loss: 196.5014
Epoch 25/300
540/540 [==============================] - 1s 2ms/step - loss: 1034.9894 - val_loss: 184.0029
Epoch 26/300
540/540 [==============================] - 1s 2ms/step - loss: 1060.4353 - val_loss: 193.0887
Epoch 27/300
540/540 [==============================] - 1s 2ms/step - loss: 1022.2535 - val_loss: 186.3169
Epoch 28/300
540/540 [==============================] - 1s 2ms/step - loss: 1014.8214 - val_loss: 192.5433
Epoch 29/300
540/540 [==============================] - 1s 2ms/step - loss: 985.7660 - val_loss: 194.0655
Epoch 30/300
540/540 [==============================] - 1s 2ms/step - loss: 985.1464 - val_loss: 198.1495
Epoch 31/300
540/540 [==============================] - 1s 2ms/step - loss: 989.5920 - val_loss: 236.5212
Epoch 32/300
540/540 [==============================] - 1s 2ms/step - loss: 975.8887 - val_loss: 215.1224
Epoch 33/300
540/540 [==============================] - 1s 2ms/step - loss: 954.8405 - val_loss: 201.2864
Epoch 34/300
540/540 [==============================] - 1s 2ms/step - loss: 958.9079 - val_loss: 193.7792
Epoch 35/300
540/540 [==============================] - 1s 2ms/step - loss: 949.4771 - val_loss: 202.0245
Epoch 36/300
540/540 [==============================] - 1s 2ms/step - loss: 930.2510 - val_loss: 217.4763
Epoch 37/300
540/540 [==============================] - 1s 2ms/step - loss: 927.4755 - val_loss: 210.9641
Epoch 38/300
540/540 [==============================] - 1s 2ms/step - loss: 907.7211 - val_loss: 209.8088
Epoch 39/300
540/540 [==============================] - 1s 2ms/step - loss: 911.5110 - val_loss: 202.9585
Epoch 40/300
540/540 [==============================] - 1s 2ms/step - loss: 885.5921 - val_loss: 193.9171
Epoch 41/300
540/540 [==============================] - 1s 2ms/step - loss: 887.5583 - val_loss: 187.6578
Epoch 42/300
540/540 [==============================] - 1s 2ms/step - loss: 882.0739 - val_loss: 198.8111
Epoch 43/300
540/540 [==============================] - 1s 2ms/step - loss: 862.6389 - val_loss: 185.5330
Epoch 44/300
540/540 [==============================] - 1s 2ms/step - loss: 862.6699 - val_loss: 202.3351
Epoch 45/300
540/540 [==============================] - 1s 2ms/step - loss: 852.9928 - val_loss: 220.4680
Epoch 46/300
540/540 [==============================] - 1s 2ms/step - loss: 855.7498 - val_loss: 219.3183
Epoch 47/300
540/540 [==============================] - 1s 2ms/step - loss: 849.0764 - val_loss: 232.9755
Epoch 48/300
540/540 [==============================] - 1s 2ms/step - loss: 822.3427 - val_loss: 195.7142
Epoch 49/300
540/540 [==============================] - 1s 2ms/step - loss: 843.0876 - val_loss: 206.3528
Epoch 50/300
540/540 [==============================] - 1s 2ms/step - loss: 831.1998 - val_loss: 206.8820
Epoch 51/300
540/540 [==============================] - 1s 2ms/step - loss: 839.4805 - val_loss: 232.9202
Epoch 52/300
540/540 [==============================] - 1s 2ms/step - loss: 836.1597 - val_loss: 193.0562
Epoch 53/300
540/540 [==============================] - 1s 2ms/step - loss: 805.3347 - val_loss: 228.3236
Epoch 54/300
540/540 [==============================] - 1s 2ms/step - loss: 806.2029 - val_loss: 219.4489
Epoch 55/300
540/540 [==============================] - 1s 2ms/step - loss: 813.7179 - val_loss: 217.9138
Epoch 56/300
540/540 [==============================] - 1s 2ms/step - loss: 803.8699 - val_loss: 221.7258
Epoch 57/300
540/540 [==============================] - 1s 2ms/step - loss: 817.6581 - val_loss: 219.0985
Epoch 58/300
540/540 [==============================] - 1s 2ms/step - loss: 797.3755 - val_loss: 200.7004
Epoch 59/300
540/540 [==============================] - 1s 2ms/step - loss: 798.6233 - val_loss: 204.8281
Epoch 60/300
540/540 [==============================] - 1s 2ms/step - loss: 780.5941 - val_loss: 212.1659
Epoch 61/300
540/540 [==============================] - 1s 2ms/step - loss: 779.8683 - val_loss: 206.6001
Epoch 62/300
540/540 [==============================] - 1s 2ms/step - loss: 781.8683 - val_loss: 228.4887
Epoch 63/300
540/540 [==============================] - 1s 2ms/step - loss: 778.7936 - val_loss: 235.5629
Epoch 64/300
540/540 [==============================] - 1s 2ms/step - loss: 794.1780 - val_loss: 210.1405
Epoch 65/300
540/540 [==============================] - 1s 2ms/step - loss: 759.6444 - val_loss: 242.4992
Epoch 66/300
540/540 [==============================] - 1s 2ms/step - loss: 780.5281 - val_loss: 228.2108
Epoch 67/300
540/540 [==============================] - 1s 2ms/step - loss: 760.2054 - val_loss: 235.6275
Epoch 68/300
540/540 [==============================] - 1s 2ms/step - loss: 763.0726 - val_loss: 222.3692
Epoch 69/300
540/540 [==============================] - 1s 2ms/step - loss: 758.5114 - val_loss: 215.5675
Epoch 70/300
540/540 [==============================] - 1s 2ms/step - loss: 753.5995 - val_loss: 225.7218
Epoch 71/300
540/540 [==============================] - 1s 2ms/step - loss: 753.5614 - val_loss: 212.8313
Epoch 72/300
540/540 [==============================] - 1s 2ms/step - loss: 733.6498 - val_loss: 229.3071
Epoch 73/300
540/540 [==============================] - 1s 2ms/step - loss: 747.5866 - val_loss: 221.4948
Epoch 74/300
540/540 [==============================] - 1s 2ms/step - loss: 733.7714 - val_loss: 232.8244
Epoch 75/300
540/540 [==============================] - 1s 2ms/step - loss: 743.6800 - val_loss: 213.1573
Epoch 76/300
540/540 [==============================] - 1s 2ms/step - loss: 722.1915 - val_loss: 224.2553
Epoch 77/300
540/540 [==============================] - 1s 2ms/step - loss: 733.7676 - val_loss: 252.6600
Epoch 78/300
540/540 [==============================] - 1s 2ms/step - loss: 724.8862 - val_loss: 234.1243
Epoch 79/300
540/540 [==============================] - 1s 2ms/step - loss: 713.7406 - val_loss: 233.1808
Epoch 80/300
540/540 [==============================] - 1s 2ms/step - loss: 701.0955 - val_loss: 240.9340
Epoch 81/300
540/540 [==============================] - 1s 2ms/step - loss: 724.1667 - val_loss: 230.6643
Epoch 82/300
540/540 [==============================] - 1s 2ms/step - loss: 718.9630 - val_loss: 241.2483
Epoch 83/300
540/540 [==============================] - 1s 2ms/step - loss: 727.9860 - val_loss: 227.5091
Epoch 84/300
540/540 [==============================] - 1s 2ms/step - loss: 705.4091 - val_loss: 238.8216
Epoch 85/300
540/540 [==============================] - 1s 2ms/step - loss: 697.3784 - val_loss: 240.9324
Epoch 86/300
540/540 [==============================] - 1s 2ms/step - loss: 689.9525 - val_loss: 230.7770
Epoch 87/300
540/540 [==============================] - 1s 2ms/step - loss: 710.9926 - val_loss: 229.0450
Epoch 88/300
540/540 [==============================] - 1s 2ms/step - loss: 702.9103 - val_loss: 247.5568
Epoch 89/300
540/540 [==============================] - 1s 2ms/step - loss: 710.6528 - val_loss: 251.5105
Epoch 90/300
540/540 [==============================] - 1s 2ms/step - loss: 692.5139 - val_loss: 236.6109
Epoch 91/300
540/540 [==============================] - 1s 2ms/step - loss: 697.1502 - val_loss: 231.0239
Epoch 92/300
540/540 [==============================] - 1s 2ms/step - loss: 685.8223 - val_loss: 243.6231
Epoch 93/300
540/540 [==============================] - 1s 2ms/step - loss: 683.5187 - val_loss: 228.5331
Epoch 94/300
540/540 [==============================] - 1s 2ms/step - loss: 675.4736 - val_loss: 253.9693
Epoch 95/300
540/540 [==============================] - 1s 2ms/step - loss: 684.5969 - val_loss: 242.1738
Epoch 96/300
540/540 [==============================] - 1s 2ms/step - loss: 679.8503 - val_loss: 245.4397
Epoch 97/300
540/540 [==============================] - 1s 2ms/step - loss: 677.9777 - val_loss: 249.5020
Epoch 98/300
540/540 [==============================] - 1s 2ms/step - loss: 676.1510 - val_loss: 289.8947
Epoch 99/300
540/540 [==============================] - 1s 2ms/step - loss: 667.7311 - val_loss: 239.9273
Epoch 100/300
540/540 [==============================] - 1s 2ms/step - loss: 671.5889 - val_loss: 252.1561
Epoch 101/300
540/540 [==============================] - 1s 2ms/step - loss: 670.9351 - val_loss: 225.3132
Epoch 102/300
540/540 [==============================] - 1s 2ms/step - loss: 664.2935 - val_loss: 248.9898
Epoch 103/300
540/540 [==============================] - 1s 2ms/step - loss: 654.8242 - val_loss: 244.9181
Epoch 104/300
540/540 [==============================] - 1s 2ms/step - loss: 660.4963 - val_loss: 229.9167
Epoch 105/300
540/540 [==============================] - 1s 2ms/step - loss: 662.5709 - val_loss: 240.2751
Epoch 106/300
540/540 [==============================] - 1s 2ms/step - loss: 653.4949 - val_loss: 239.8599
Epoch 107/300
540/540 [==============================] - 1s 2ms/step - loss: 658.3743 - val_loss: 258.8400
Epoch 108/300
540/540 [==============================] - 1s 2ms/step - loss: 645.3563 - val_loss: 233.2198
Epoch 109/300
540/540 [==============================] - 1s 2ms/step - loss: 641.1827 - val_loss: 245.1887
Epoch 110/300
540/540 [==============================] - 1s 2ms/step - loss: 634.8978 - val_loss: 241.2235
Epoch 111/300
540/540 [==============================] - 1s 2ms/step - loss: 630.6830 - val_loss: 238.0587
Epoch 112/300
540/540 [==============================] - 1s 2ms/step - loss: 635.5035 - val_loss: 238.5722
Epoch 113/300
540/540 [==============================] - 1s 2ms/step - loss: 637.2584 - val_loss: 243.7986
Epoch 114/300
540/540 [==============================] - 1s 2ms/step - loss: 636.7647 - val_loss: 225.3780
Epoch 115/300
540/540 [==============================] - 1s 2ms/step - loss: 621.5505 - val_loss: 239.8747
Epoch 116/300
540/540 [==============================] - 1s 2ms/step - loss: 624.9092 - val_loss: 236.2106
Epoch 117/300
540/540 [==============================] - 1s 2ms/step - loss: 623.3920 - val_loss: 254.2069
Epoch 118/300
540/540 [==============================] - 1s 2ms/step - loss: 622.9041 - val_loss: 246.5876
Epoch 119/300
540/540 [==============================] - 1s 2ms/step - loss: 624.3670 - val_loss: 257.2085
Epoch 120/300
540/540 [==============================] - 1s 2ms/step - loss: 620.5996 - val_loss: 253.7631
Epoch 121/300
540/540 [==============================] - 1s 2ms/step - loss: 622.6246 - val_loss: 246.6637
Epoch 122/300
540/540 [==============================] - 1s 2ms/step - loss: 622.9145 - val_loss: 247.2659
Epoch 123/300
540/540 [==============================] - 1s 2ms/step - loss: 619.3585 - val_loss: 248.7118
Epoch 124/300
540/540 [==============================] - 1s 2ms/step - loss: 604.5563 - val_loss: 256.5961
Epoch 125/300
540/540 [==============================] - 1s 2ms/step - loss: 610.9269 - val_loss: 250.1869
Epoch 126/300
540/540 [==============================] - 1s 2ms/step - loss: 605.7851 - val_loss: 248.1023
Epoch 127/300
540/540 [==============================] - 1s 2ms/step - loss: 618.4500 - val_loss: 255.6380
Epoch 128/300
540/540 [==============================] - 1s 2ms/step - loss: 606.5807 - val_loss: 246.9808
Epoch 129/300
540/540 [==============================] - 1s 2ms/step - loss: 600.1114 - val_loss: 247.2574
Epoch 130/300
540/540 [==============================] - 1s 2ms/step - loss: 594.4563 - val_loss: 256.9280
Epoch 131/300
540/540 [==============================] - 1s 2ms/step - loss: 589.6227 - val_loss: 247.1936
Epoch 132/300
540/540 [==============================] - 1s 2ms/step - loss: 595.0653 - val_loss: 253.0473
Epoch 133/300
540/540 [==============================] - 1s 2ms/step - loss: 593.8713 - val_loss: 235.8943
Epoch 134/300
540/540 [==============================] - 1s 2ms/step - loss: 599.0048 - val_loss: 244.1726
Epoch 135/300
540/540 [==============================] - 1s 2ms/step - loss: 594.2844 - val_loss: 259.0157
Epoch 136/300
540/540 [==============================] - 1s 2ms/step - loss: 594.8914 - val_loss: 262.9273
Epoch 137/300
540/540 [==============================] - 1s 2ms/step - loss: 589.4434 - val_loss: 277.2177
Epoch 138/300
540/540 [==============================] - 1s 2ms/step - loss: 588.7896 - val_loss: 267.4698
Epoch 139/300
540/540 [==============================] - 1s 2ms/step - loss: 584.7080 - val_loss: 242.4946
Epoch 140/300
540/540 [==============================] - 1s 2ms/step - loss: 570.1526 - val_loss: 239.5552
Epoch 141/300
540/540 [==============================] - 1s 2ms/step - loss: 574.3391 - val_loss: 239.7860
Epoch 142/300
540/540 [==============================] - 1s 2ms/step - loss: 572.2808 - val_loss: 237.8994
Epoch 143/300
540/540 [==============================] - 1s 2ms/step - loss: 573.8621 - val_loss: 245.4668
Epoch 144/300
540/540 [==============================] - 1s 2ms/step - loss: 560.6418 - val_loss: 252.0352
Epoch 145/300
540/540 [==============================] - 1s 2ms/step - loss: 566.9523 - val_loss: 240.9102
Epoch 146/300
540/540 [==============================] - 1s 2ms/step - loss: 570.6122 - val_loss: 243.8156
Epoch 147/300
540/540 [==============================] - 1s 2ms/step - loss: 566.5977 - val_loss: 261.3317
Epoch 148/300
540/540 [==============================] - 1s 2ms/step - loss: 563.5532 - val_loss: 239.3158
Epoch 149/300
540/540 [==============================] - 1s 2ms/step - loss: 551.2911 - val_loss: 249.3366
Epoch 150/300
540/540 [==============================] - 1s 2ms/step - loss: 555.0323 - val_loss: 253.6856
Epoch 151/300
540/540 [==============================] - 1s 2ms/step - loss: 550.3875 - val_loss: 263.8824
Epoch 152/300
540/540 [==============================] - 1s 2ms/step - loss: 557.2316 - val_loss: 245.3198
Epoch 153/300
540/540 [==============================] - 1s 2ms/step - loss: 546.9741 - val_loss: 251.2911
Epoch 154/300
540/540 [==============================] - 1s 2ms/step - loss: 538.9819 - val_loss: 238.4989
Epoch 155/300
540/540 [==============================] - 1s 2ms/step - loss: 535.9189 - val_loss: 245.7620
Epoch 156/300
540/540 [==============================] - 1s 2ms/step - loss: 542.6592 - val_loss: 257.8074
Epoch 157/300
540/540 [==============================] - 1s 2ms/step - loss: 531.9855 - val_loss: 245.1362
Epoch 158/300
540/540 [==============================] - 1s 2ms/step - loss: 533.0006 - val_loss: 249.5855
Epoch 159/300
540/540 [==============================] - 1s 2ms/step - loss: 532.5696 - val_loss: 259.3732
Epoch 160/300
540/540 [==============================] - 1s 2ms/step - loss: 535.1833 - val_loss: 246.7609
Epoch 161/300
540/540 [==============================] - 1s 2ms/step - loss: 527.5140 - val_loss: 248.7345
Epoch 162/300
540/540 [==============================] - 1s 2ms/step - loss: 529.4502 - val_loss: 245.1974
Epoch 163/300
540/540 [==============================] - 1s 2ms/step - loss: 523.7233 - val_loss: 239.4627
Epoch 164/300
540/540 [==============================] - 1s 2ms/step - loss: 519.0392 - val_loss: 258.6238
Epoch 165/300
540/540 [==============================] - 1s 2ms/step - loss: 522.9245 - val_loss: 268.4388
Epoch 166/300
540/540 [==============================] - 1s 2ms/step - loss: 514.1656 - val_loss: 256.5604
Epoch 167/300
540/540 [==============================] - 1s 2ms/step - loss: 529.9040 - val_loss: 258.5285
Epoch 168/300
540/540 [==============================] - 1s 2ms/step - loss: 513.0886 - val_loss: 251.6877
Epoch 169/300
540/540 [==============================] - 1s 2ms/step - loss: 514.9419 - val_loss: 255.0843
Epoch 170/300
540/540 [==============================] - 1s 2ms/step - loss: 509.8154 - val_loss: 257.8689
Epoch 171/300
540/540 [==============================] - 1s 2ms/step - loss: 511.3232 - val_loss: 278.1200
Epoch 172/300
540/540 [==============================] - 1s 2ms/step - loss: 513.5323 - val_loss: 258.9101
Epoch 173/300
540/540 [==============================] - 1s 2ms/step - loss: 500.4680 - val_loss: 261.5369
Epoch 174/300
540/540 [==============================] - 1s 2ms/step - loss: 507.8730 - val_loss: 271.6039
Epoch 175/300
540/540 [==============================] - 1s 2ms/step - loss: 503.3641 - val_loss: 275.8844
Epoch 176/300
540/540 [==============================] - 1s 2ms/step - loss: 501.7073 - val_loss: 262.6237
Epoch 177/300
540/540 [==============================] - 1s 2ms/step - loss: 501.2568 - val_loss: 263.8258
Epoch 178/300
540/540 [==============================] - 1s 2ms/step - loss: 501.0865 - val_loss: 267.7054
Epoch 179/300
540/540 [==============================] - 1s 2ms/step - loss: 490.1408 - val_loss: 269.3465
Epoch 180/300
540/540 [==============================] - 1s 2ms/step - loss: 498.8602 - val_loss: 254.6430
Epoch 181/300
540/540 [==============================] - 1s 2ms/step - loss: 493.8312 - val_loss: 262.2033
Epoch 182/300
540/540 [==============================] - 1s 2ms/step - loss: 490.7822 - val_loss: 267.1221
Epoch 183/300
540/540 [==============================] - 1s 2ms/step - loss: 480.6664 - val_loss: 250.0643
Epoch 184/300
540/540 [==============================] - 1s 2ms/step - loss: 487.9679 - val_loss: 261.4645
Epoch 185/300
540/540 [==============================] - 1s 2ms/step - loss: 481.3320 - val_loss: 266.5006
Epoch 186/300
540/540 [==============================] - 1s 2ms/step - loss: 484.8755 - val_loss: 263.7978
Epoch 187/300
540/540 [==============================] - 1s 2ms/step - loss: 481.1167 - val_loss: 262.0406
Epoch 188/300

In [186]:
y1test = y1test.ravel()

In [187]:
predictions = model.predict(tnewt)
sample = pd.DataFrame(predictions,columns=['Predict'])
sample['Actual']=y1test
sample.head(10)

      Predict  Actual
0  140.770950     128
1  141.463867     128
2  140.392212     128
3  139.454056     128
4  139.960083     128
5  140.518951     128
6  137.946701     128
7  134.346832     128
8  134.515656     128
9  134.409332     128

In [188]:
def custom_accuracy(y_test,y_pred,thresold):
    right = 0
    l = len(y_pred)
    for i in range(0,l):
        if(abs(y_pred[i]-y_test[i]) <= thresold):
            right += 1
    return ((right/l)*100)

In [189]:
custom_accuracy(sample['Actual'] , sample['Predict'],10)

42.168674698795186

In [190]:
# sample.to_csv('sample.csv')

In [191]:
# try1 = sample[sample.Actual == 128]
# try1.head()

In [192]:
# try1.shape[0]

In [193]:
# try1.sum()

In [194]:
# (try1.sum())/try1.shape[0]

In [195]:
# try2 = sample[sample.Actual == 129]
# (try2.sum())/try2.shape[0]

In [196]:
# try2 = sample[sample.Actual == 156]
# result = (try2.sum())/try2.shape[0]

In [197]:
# result

In [198]:
# res2 = result.values.reshape(1,2)

In [199]:
# res2

In [200]:
# res2.shape

In [201]:
# df.loc[len(df)] = your_array
# results.loc[len(results)] = res2
# df.append(pd.DataFrame(arr).T)
# results = results.append(pd.DataFrame(res2))
# results.append(pd.DataFrame(res3))

In [202]:
ar1 = sample['Actual'].unique()

In [203]:
results = pd.DataFrame()

In [204]:
for items in ar1:
  # print(items)
  try2 = sample[sample.Actual == items]
  result = (try2.sum())/try2.shape[0]
  # print(result)
  res = result.values.reshape(1,2)
  # print(res)
  results = results.append(pd.DataFrame(res))

In [205]:
results.head()

            0      1
0  137.686096  128.0
0  143.382920  129.0
0  152.659762  156.0
0  154.747396  154.0
0  139.486552  126.0

In [206]:
# rankings_pd.rename(columns = {'test':'TEST'}, inplace = True)
results.rename(columns = {0: 'Predict',
                          1: 'Actual'
                          }, inplace = True)

In [207]:
results.reset_index(drop = True)

       Predict  Actual
0   137.686096   128.0
1   143.382920   129.0
2   152.659762   156.0
3   154.747396   154.0
4   139.486552   126.0
..         ...     ...
77  190.851249   190.0
78  124.666229   113.0
79  157.505296   172.0
80  153.803608   134.0
81  171.700704   192.0

[82 rows x 2 columns]

In [208]:
results.tail()

      Predict  Actual
0  190.851249   190.0
0  124.666229   113.0
0  157.505296   172.0
0  153.803608   134.0
0  171.700704   192.0

In [209]:
print(custom_accuracy(results['Actual'].ravel(),results['Predict'].ravel(),12))

56.09756097560976

In [210]:
# results.info()

In [211]:
# results['Actual']

take epochs = 90 next time

In [212]:
tests = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/testset.csv')
# tests.head()
tests.drop(columns = ['Unnamed: 0'], inplace = True)
tests.head()

        id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  1254058  2021-04-09   12.0  ...           159          2           0
1  1254058  2021-04-09   12.0  ...           159          2           0
2  1254058  2021-04-09   12.0  ...           159          2           0
3  1254058  2021-04-09   12.0  ...           159          4           0
4  1254058  2021-04-09   12.0  ...           159          4           0

[5 rows x 16 columns]

In [213]:
sets = tests.drop(tests[(tests.over <= 14.0) | (tests.over >=16.0)].index)
sets.reset_index(drop = True)
yt1 = sets['total_runs_y']
yt2 = sets['winner']
sets.drop(columns = ['id', 'date', 'total_runs_y', 'winner'], inplace = True)
sets.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0   12.0    5.0          5.0       1  ...    0            0        120           3
1   12.0    5.0          5.0       1  ...    0            0        124           3
2   12.0    5.0          5.0       1  ...    0            0        124           3
3   12.0    5.0          5.0       1  ...    0            0        125           3
4   12.0    5.0          5.0       1  ...    0            0        127           3

[5 rows x 12 columns]

In [214]:
yt1 = yt1.ravel()

In [215]:
xs = sc.fit_transform(sets)

In [216]:
predictions = model.predict(xs)
sample = pd.DataFrame(predictions,columns=['Predict'])
sample['Actual']=yt1
sample.head(10)

      Predict  Actual
0  171.881622     159
1  173.432800     159
2  173.143127     159
3  173.317871     159
4  173.932800     159
5  174.107025     159
6  172.239899     159
7  172.393066     159
8  173.053741     159
9  174.904449     159

In [217]:
ar1 = sample['Actual'].unique()
results = pd.DataFrame()
for items in ar1:
  # print(items)
  try2 = sample[sample.Actual == items]
  result = (try2.sum())/try2.shape[0]
  # print(result)
  res = result.values.reshape(1,2)
  # print(res)
  results = results.append(pd.DataFrame(res))

In [218]:
results.rename(columns = {0: 'Predict',
                          1: 'Actual'
                          }, inplace = True)
results.reset_index(drop = True)
print(custom_accuracy(results['Actual'].ravel(),results['Predict'].ravel(),12))

37.142857142857146