<a href="https://colab.research.google.com/github/UtkarshAIITB/IPL-Data-Analysis/blob/main/DL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
new = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/new.csv')
# new.head()

In [4]:
t = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/t.csv')
# t.head()

In [5]:
t.drop(columns = ['Unnamed: 0'], inplace = True)
t.head()

       id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  597998  2013-04-03      9  ...           128          0           1
1  597998  2013-04-03      9  ...           128          4           1
2  597998  2013-04-03      9  ...           128          5           1
3  597998  2013-04-03      9  ...           128          5           1
4  597998  2013-04-03      9  ...           128          5           1

[5 rows x 17 columns]

In [6]:
new.drop(columns = ['Unnamed: 0'], inplace = True)

In [7]:
new.head()

       id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  335982  2008-04-18      5  ...           222          1           0
1  335982  2008-04-18      5  ...           222          1           0
2  335982  2008-04-18      5  ...           222          2           0
3  335982  2008-04-18      5  ...           222          2           0
4  335982  2008-04-18      5  ...           222          2           0

[5 rows x 17 columns]

In [8]:
# new is the training set and t is the test set

In [9]:
tnew = t.drop(t[(t.over <= 11.0) | (t.over >=16.0)].index)
tnew.reset_index(drop = True)
y1test = tnew['total_runs_y']
y2test = tnew['winner']
tnew.drop(columns = ['id', 'date', 'year', 'total_runs_y', 'winner'], inplace = True)
tnew.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      9      6            9       1  ...    0            0         76           3
1      9      6            9       1  ...    0            0         77           3
2      9      6            9       1  ...    0            0         78           3
3      9      6            9       1  ...    0            0         79           3
4      9      6            9       1  ...    0            0         79           3

[5 rows x 12 columns]

In [10]:
xnew = new.drop(new[(new.over <=11.0) | (new.over >=16.0)].index)
xnew.reset_index(drop = True)
y1train = xnew['total_runs_y']
y2train = xnew['winner']
xnew.drop(columns = ['id', 'date', 'year', 'total_runs_y', 'winner'], inplace = True)
xnew.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      5      9            5       1  ...    0            0        102           1
1      5      9            5       1  ...    0            0        108           1
2      5      9            5       1  ...    0            0        110           1
3      5      9            5       1  ...    0            0        111           1
4      5      9            5       1  ...    0            0        111           1

[5 rows x 12 columns]

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [12]:
xnewt = sc.fit_transform(xnew) 
tnewt = sc.fit_transform(tnew)

In [13]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [14]:
model = Sequential()
model.add(Dense(200, activation = 'relu'))
model.add(Dropout(0.5))

model.add(Dense(100, activation = 'relu'))
model.add(Dropout(0.5))

model.add(Dense(50, activation = 'relu'))
model.add(Dropout(0.5))

model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

In [15]:
model.fit(x=xnewt, y=y1train, epochs=140, 
          validation_data=(tnewt,y1test))

Epoch 1/140
1370/1370 [==============================] - 4s 2ms/step - loss: 2790.8967 - val_loss: 328.8148
Epoch 2/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1590.1355 - val_loss: 282.4111
Epoch 3/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1527.5303 - val_loss: 343.6303
Epoch 4/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1449.0907 - val_loss: 264.9811
Epoch 5/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1399.4480 - val_loss: 256.8339
Epoch 6/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1368.4690 - val_loss: 295.4435
Epoch 7/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1299.6635 - val_loss: 244.6853
Epoch 8/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1275.7572 - val_loss: 256.4102
Epoch 9/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1247.0596 - val_loss: 259.3876
Epoch 10/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1213.8375 - val_loss: 274.3964
Epoch 11/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1178.0094 - val_loss: 281.4277
Epoch 12/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1164.6625 - val_loss: 282.8336
Epoch 13/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1115.8844 - val_loss: 266.8020
Epoch 14/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1092.7531 - val_loss: 270.4901
Epoch 15/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1068.6733 - val_loss: 275.2860
Epoch 16/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1036.5610 - val_loss: 281.7136
Epoch 17/140
1370/1370 [==============================] - 3s 2ms/step - loss: 1019.5801 - val_loss: 283.6804
Epoch 18/140
1370/1370 [==============================] - 3s 2ms/step - loss: 999.0849 - val_loss: 282.1234
Epoch 19/140
1370/1370 [==============================] - 3s 2ms/step - loss: 978.6696 - val_loss: 280.1088
Epoch 20/140
1370/1370 [==============================] - 3s 2ms/step - loss: 961.2384 - val_loss: 262.6510
Epoch 21/140
1370/1370 [==============================] - 3s 2ms/step - loss: 955.4727 - val_loss: 271.3965
Epoch 22/140
1370/1370 [==============================] - 3s 2ms/step - loss: 934.3306 - val_loss: 283.3799
Epoch 23/140
1370/1370 [==============================] - 3s 2ms/step - loss: 926.0551 - val_loss: 284.0017
Epoch 24/140
1370/1370 [==============================] - 3s 2ms/step - loss: 911.8450 - val_loss: 290.8643
Epoch 25/140
1370/1370 [==============================] - 3s 2ms/step - loss: 902.6816 - val_loss: 310.8473
Epoch 26/140
1370/1370 [==============================] - 3s 2ms/step - loss: 893.8011 - val_loss: 303.7232
Epoch 27/140
1370/1370 [==============================] - 3s 2ms/step - loss: 880.9249 - val_loss: 310.3319
Epoch 28/140
1370/1370 [==============================] - 3s 2ms/step - loss: 881.5240 - val_loss: 306.1318
Epoch 29/140
1370/1370 [==============================] - 3s 2ms/step - loss: 874.7554 - val_loss: 308.8269
Epoch 30/140
1370/1370 [==============================] - 3s 2ms/step - loss: 857.6802 - val_loss: 314.7738
Epoch 31/140
1370/1370 [==============================] - 3s 2ms/step - loss: 850.1824 - val_loss: 307.8158
Epoch 32/140
1370/1370 [==============================] - 3s 2ms/step - loss: 841.3416 - val_loss: 322.4482
Epoch 33/140
1370/1370 [==============================] - 3s 2ms/step - loss: 828.6780 - val_loss: 297.1292
Epoch 34/140
1370/1370 [==============================] - 3s 2ms/step - loss: 829.2708 - val_loss: 306.8646
Epoch 35/140
1370/1370 [==============================] - 3s 2ms/step - loss: 818.5740 - val_loss: 297.2591
Epoch 36/140
1370/1370 [==============================] - 3s 2ms/step - loss: 816.3638 - val_loss: 301.7787
Epoch 37/140
1370/1370 [==============================] - 3s 2ms/step - loss: 804.3087 - val_loss: 322.6501
Epoch 38/140
1370/1370 [==============================] - 3s 2ms/step - loss: 797.7697 - val_loss: 298.8946
Epoch 39/140
1370/1370 [==============================] - 3s 2ms/step - loss: 786.0424 - val_loss: 298.5529
Epoch 40/140
1370/1370 [==============================] - 3s 2ms/step - loss: 774.5209 - val_loss: 292.5486
Epoch 41/140
1370/1370 [==============================] - 3s 2ms/step - loss: 765.5824 - val_loss: 294.1487
Epoch 42/140
1370/1370 [==============================] - 3s 2ms/step - loss: 767.1136 - val_loss: 315.2431
Epoch 43/140
1370/1370 [==============================] - 3s 2ms/step - loss: 757.0049 - val_loss: 320.1436
Epoch 44/140
1370/1370 [==============================] - 3s 2ms/step - loss: 752.4565 - val_loss: 319.1155
Epoch 45/140
1370/1370 [==============================] - 3s 2ms/step - loss: 748.8591 - val_loss: 299.3947
Epoch 46/140
1370/1370 [==============================] - 3s 2ms/step - loss: 742.4794 - val_loss: 304.5160
Epoch 47/140
1370/1370 [==============================] - 3s 2ms/step - loss: 726.2821 - val_loss: 306.6555
Epoch 48/140
1370/1370 [==============================] - 3s 2ms/step - loss: 729.3439 - val_loss: 306.3675
Epoch 49/140
1370/1370 [==============================] - 3s 2ms/step - loss: 721.3474 - val_loss: 302.0366
Epoch 50/140
1370/1370 [==============================] - 3s 2ms/step - loss: 711.0110 - val_loss: 309.3170
Epoch 51/140
1370/1370 [==============================] - 3s 2ms/step - loss: 695.4943 - val_loss: 318.6554
Epoch 52/140
1370/1370 [==============================] - 3s 2ms/step - loss: 685.5194 - val_loss: 316.5458
Epoch 53/140
1370/1370 [==============================] - 3s 2ms/step - loss: 680.3166 - val_loss: 302.6985
Epoch 54/140
1370/1370 [==============================] - 3s 2ms/step - loss: 673.1907 - val_loss: 294.1949
Epoch 55/140
1370/1370 [==============================] - 3s 2ms/step - loss: 666.7397 - val_loss: 321.0600
Epoch 56/140
1370/1370 [==============================] - 3s 2ms/step - loss: 657.0613 - val_loss: 302.6430
Epoch 57/140
1370/1370 [==============================] - 3s 2ms/step - loss: 649.4857 - val_loss: 326.3939
Epoch 58/140
1370/1370 [==============================] - 3s 2ms/step - loss: 640.5197 - val_loss: 298.9475
Epoch 59/140
1370/1370 [==============================] - 3s 2ms/step - loss: 642.9450 - val_loss: 319.7194
Epoch 60/140
1370/1370 [==============================] - 3s 2ms/step - loss: 638.2857 - val_loss: 320.4074
Epoch 61/140
1370/1370 [==============================] - 3s 2ms/step - loss: 624.7482 - val_loss: 316.0750
Epoch 62/140
1370/1370 [==============================] - 3s 2ms/step - loss: 623.9479 - val_loss: 313.8043
Epoch 63/140
1370/1370 [==============================] - 3s 2ms/step - loss: 614.5232 - val_loss: 305.0088
Epoch 64/140
1370/1370 [==============================] - 3s 2ms/step - loss: 609.7238 - val_loss: 312.1440
Epoch 65/140
1370/1370 [==============================] - 3s 2ms/step - loss: 608.0865 - val_loss: 312.1182
Epoch 66/140
1370/1370 [==============================] - 3s 2ms/step - loss: 603.3019 - val_loss: 313.4661
Epoch 67/140
1370/1370 [==============================] - 3s 2ms/step - loss: 585.7255 - val_loss: 318.5823
Epoch 68/140
1370/1370 [==============================] - 3s 2ms/step - loss: 588.3699 - val_loss: 308.2625
Epoch 69/140
1370/1370 [==============================] - 3s 2ms/step - loss: 591.6720 - val_loss: 291.5322
Epoch 70/140
1370/1370 [==============================] - 3s 2ms/step - loss: 581.7883 - val_loss: 334.0881
Epoch 71/140
1370/1370 [==============================] - 3s 2ms/step - loss: 573.9786 - val_loss: 311.2501
Epoch 72/140
1370/1370 [==============================] - 3s 2ms/step - loss: 570.0492 - val_loss: 318.7054
Epoch 73/140
1370/1370 [==============================] - 3s 2ms/step - loss: 565.2479 - val_loss: 312.5963
Epoch 74/140
1370/1370 [==============================] - 3s 2ms/step - loss: 555.2980 - val_loss: 308.0386
Epoch 75/140
1370/1370 [==============================] - 3s 2ms/step - loss: 556.2574 - val_loss: 322.6436
Epoch 76/140
1370/1370 [==============================] - 3s 2ms/step - loss: 552.7216 - val_loss: 303.4960
Epoch 77/140
1370/1370 [==============================] - 3s 2ms/step - loss: 548.9050 - val_loss: 309.6694
Epoch 78/140
1370/1370 [==============================] - 3s 2ms/step - loss: 538.6130 - val_loss: 322.5032
Epoch 79/140
1370/1370 [==============================] - 3s 2ms/step - loss: 530.5255 - val_loss: 305.9015
Epoch 80/140
1370/1370 [==============================] - 3s 2ms/step - loss: 527.3309 - val_loss: 308.0820
Epoch 81/140
1370/1370 [==============================] - 3s 2ms/step - loss: 528.6679 - val_loss: 312.7742
Epoch 82/140
1370/1370 [==============================] - 3s 2ms/step - loss: 519.6581 - val_loss: 314.9482
Epoch 83/140
1370/1370 [==============================] - 3s 2ms/step - loss: 515.7740 - val_loss: 342.5587
Epoch 84/140
1370/1370 [==============================] - 3s 2ms/step - loss: 510.7042 - val_loss: 330.2910
Epoch 85/140
1370/1370 [==============================] - 3s 2ms/step - loss: 502.6448 - val_loss: 310.3086
Epoch 86/140
1370/1370 [==============================] - 3s 2ms/step - loss: 502.3018 - val_loss: 324.8315
Epoch 87/140
1370/1370 [==============================] - 3s 2ms/step - loss: 497.6750 - val_loss: 332.1518
Epoch 88/140
1370/1370 [==============================] - 3s 2ms/step - loss: 493.9328 - val_loss: 315.4023
Epoch 89/140
1370/1370 [==============================] - 3s 2ms/step - loss: 493.7037 - val_loss: 326.4185
Epoch 90/140
1370/1370 [==============================] - 3s 2ms/step - loss: 492.0246 - val_loss: 310.2959
Epoch 91/140
1370/1370 [==============================] - 3s 2ms/step - loss: 481.1413 - val_loss: 325.3266
Epoch 92/140
1370/1370 [==============================] - 3s 2ms/step - loss: 478.0038 - val_loss: 313.1529
Epoch 93/140
1370/1370 [==============================] - 3s 2ms/step - loss: 476.0605 - val_loss: 321.6338
Epoch 94/140
1370/1370 [==============================] - 3s 2ms/step - loss: 464.5965 - val_loss: 315.1423
Epoch 95/140
1370/1370 [==============================] - 3s 2ms/step - loss: 467.4063 - val_loss: 327.6823
Epoch 96/140
1370/1370 [==============================] - 3s 2ms/step - loss: 459.6033 - val_loss: 329.9845
Epoch 97/140
1370/1370 [==============================] - 3s 2ms/step - loss: 453.8364 - val_loss: 324.3922
Epoch 98/140
1370/1370 [==============================] - 3s 2ms/step - loss: 449.9564 - val_loss: 322.6667
Epoch 99/140
1370/1370 [==============================] - 3s 2ms/step - loss: 443.1143 - val_loss: 308.6790
Epoch 100/140
1370/1370 [==============================] - 3s 2ms/step - loss: 441.2865 - val_loss: 330.9173
Epoch 101/140
1370/1370 [==============================] - 3s 2ms/step - loss: 442.9215 - val_loss: 333.1361
Epoch 102/140
1370/1370 [==============================] - 3s 2ms/step - loss: 439.6873 - val_loss: 329.0606
Epoch 103/140
1370/1370 [==============================] - 3s 2ms/step - loss: 434.1548 - val_loss: 314.4216
Epoch 104/140
1370/1370 [==============================] - 3s 2ms/step - loss: 425.6565 - val_loss: 320.0355
Epoch 105/140
1370/1370 [==============================] - 3s 2ms/step - loss: 425.1924 - val_loss: 317.3910
Epoch 106/140
1370/1370 [==============================] - 3s 2ms/step - loss: 425.3465 - val_loss: 333.2696
Epoch 107/140
1370/1370 [==============================] - 3s 2ms/step - loss: 419.4930 - val_loss: 313.0341
Epoch 108/140
1370/1370 [==============================] - 3s 2ms/step - loss: 416.1821 - val_loss: 326.7548
Epoch 109/140
1370/1370 [==============================] - 3s 2ms/step - loss: 413.2938 - val_loss: 315.8184
Epoch 110/140
1370/1370 [==============================] - 3s 2ms/step - loss: 407.3660 - val_loss: 327.7693
Epoch 111/140
1370/1370 [==============================] - 3s 2ms/step - loss: 405.8802 - val_loss: 335.5699
Epoch 112/140
1370/1370 [==============================] - 3s 2ms/step - loss: 404.7822 - val_loss: 327.4160
Epoch 113/140
1370/1370 [==============================] - 3s 2ms/step - loss: 398.9220 - val_loss: 333.2215
Epoch 114/140
1370/1370 [==============================] - 3s 2ms/step - loss: 399.8578 - val_loss: 327.9228
Epoch 115/140
1370/1370 [==============================] - 3s 2ms/step - loss: 392.2312 - val_loss: 322.3051
Epoch 116/140
1370/1370 [==============================] - 3s 2ms/step - loss: 390.9141 - val_loss: 319.9143
Epoch 117/140
1370/1370 [==============================] - 3s 2ms/step - loss: 383.4710 - val_loss: 325.8400
Epoch 118/140
1370/1370 [==============================] - 3s 2ms/step - loss: 384.1772 - val_loss: 322.8519
Epoch 119/140
1370/1370 [==============================] - 3s 2ms/step - loss: 377.0362 - val_loss: 329.9040
Epoch 120/140
1370/1370 [==============================] - 3s 2ms/step - loss: 378.9494 - val_loss: 326.2807
Epoch 121/140
1370/1370 [==============================] - 3s 2ms/step - loss: 380.6535 - val_loss: 311.3531
Epoch 122/140
1370/1370 [==============================] - 3s 2ms/step - loss: 371.6566 - val_loss: 334.8047
Epoch 123/140
1370/1370 [==============================] - 3s 2ms/step - loss: 372.9805 - val_loss: 320.8681
Epoch 124/140
1370/1370 [==============================] - 3s 2ms/step - loss: 366.7357 - val_loss: 324.9836
Epoch 125/140
1370/1370 [==============================] - 3s 2ms/step - loss: 365.6277 - val_loss: 316.7233
Epoch 126/140
1370/1370 [==============================] - 3s 2ms/step - loss: 360.0333 - val_loss: 331.6995
Epoch 127/140
1370/1370 [==============================] - 3s 2ms/step - loss: 360.3788 - val_loss: 332.4612
Epoch 128/140
1370/1370 [==============================] - 3s 2ms/step - loss: 358.3972 - val_loss: 318.6051
Epoch 129/140
1370/1370 [==============================] - 3s 2ms/step - loss: 351.8564 - val_loss: 331.7809
Epoch 130/140
1370/1370 [==============================] - 3s 2ms/step - loss: 352.0514 - val_loss: 334.1515
Epoch 131/140
1370/1370 [==============================] - 3s 2ms/step - loss: 348.1766 - val_loss: 335.0577
Epoch 132/140
1370/1370 [==============================] - 3s 2ms/step - loss: 347.4014 - val_loss: 324.7494
Epoch 133/140
1370/1370 [==============================] - 3s 2ms/step - loss: 346.5114 - val_loss: 354.9743
Epoch 134/140
1370/1370 [==============================] - 3s 2ms/step - loss: 344.8492 - val_loss: 351.1740
Epoch 135/140
1370/1370 [==============================] - 3s 2ms/step - loss: 340.7994 - val_loss: 341.2661
Epoch 136/140
1370/1370 [==============================] - 3s 2ms/step - loss: 339.5713 - val_loss: 340.0357
Epoch 137/140
1370/1370 [==============================] - 3s 2ms/step - loss: 335.7182 - val_loss: 317.7665
Epoch 138/140
1370/1370 [==============================] - 3s 2ms/step - loss: 334.2794 - val_loss: 331.2677
Epoch 139/140
1370/1370 [==============================] - 3s 2ms/step - loss: 331.4525 - val_loss: 338.1747
Epoch 140/140
1370/1370 [==============================] - 3s 2ms/step - loss: 325.1777 - val_loss: 356.9446

In [16]:
y1test = y1test.ravel()

In [17]:
predictions = model.predict(tnewt)
sample = pd.DataFrame(predictions,columns=['Predict'])
sample['Actual']=y1test
sample.head(10)

      Predict  Actual
0  163.520981     128
1  164.069519     128
2  164.637711     128
3  165.199371     128
4  164.716629     128
5  145.522430     128
6  145.779633     128
7  145.437988     128
8  144.952209     128
9  149.125854     128

In [18]:
def custom_accuracy(y_test,y_pred,thresold):
    right = 0
    l = len(y_pred)
    for i in range(0,l):
        if(abs(y_pred[i]-y_test[i]) <= thresold):
            right += 1
    return ((right/l)*100)

In [19]:
custom_accuracy(sample['Actual'] , sample['Predict'],10)

42.28583916083916

In [20]:
# sample.to_csv('sample.csv')

In [21]:
# try1 = sample[sample.Actual == 128]
# try1.head()

In [22]:
# try1.shape[0]

In [23]:
# try1.sum()

In [24]:
# (try1.sum())/try1.shape[0]

In [25]:
# try2 = sample[sample.Actual == 129]
# (try2.sum())/try2.shape[0]

In [26]:
# try2 = sample[sample.Actual == 156]
# result = (try2.sum())/try2.shape[0]

In [27]:
# result

In [28]:
# res2 = result.values.reshape(1,2)

In [29]:
# res2

In [30]:
# res2.shape

In [31]:
# df.loc[len(df)] = your_array
# results.loc[len(results)] = res2
# df.append(pd.DataFrame(arr).T)
# results = results.append(pd.DataFrame(res2))
# results.append(pd.DataFrame(res3))

In [32]:
ar1 = sample['Actual'].unique()

In [33]:
results = pd.DataFrame()

In [34]:
for items in ar1:
  # print(items)
  try2 = sample[sample.Actual == items]
  result = (try2.sum())/try2.shape[0]
  # print(result)
  res = result.values.reshape(1,2)
  # print(res)
  results = results.append(pd.DataFrame(res))

In [35]:
results.head()

            0      1
0  145.289126  128.0
0  149.899839  129.0
0  150.778961  156.0
0  159.238173  154.0
0  144.660579  126.0

In [36]:
# rankings_pd.rename(columns = {'test':'TEST'}, inplace = True)
results.rename(columns = {0: 'Predict',
                          1: 'Actual'
                          }, inplace = True)

In [37]:
results.reset_index(drop = True)

       Predict  Actual
0   145.289126   128.0
1   149.899839   129.0
2   150.778961   156.0
3   159.238173   154.0
4   144.660579   126.0
..         ...     ...
79  196.608810   190.0
80  126.905037   113.0
81  161.725775   172.0
82  146.324529   134.0
83  169.940186   192.0

[84 rows x 2 columns]

In [38]:
results.tail()

      Predict  Actual
0  196.608810   190.0
0  126.905037   113.0
0  161.725775   172.0
0  146.324529   134.0
0  169.940186   192.0

In [39]:
print(custom_accuracy(results['Actual'].ravel(),results['Predict'].ravel(),12))

53.57142857142857

In [40]:
# results.info()

In [41]:
# results['Actual']

take epochs = 90 next time

In [42]:
tests = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/testset.csv')
# tests.head()
tests.drop(columns = ['Unnamed: 0'], inplace = True)
tests.head()

        id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  1254058  2021-04-09   12.0  ...           159          2           0
1  1254058  2021-04-09   12.0  ...           159          2           0
2  1254058  2021-04-09   12.0  ...           159          2           0
3  1254058  2021-04-09   12.0  ...           159          4           0
4  1254058  2021-04-09   12.0  ...           159          4           0

[5 rows x 16 columns]

In [43]:
sets = tests.drop(tests[(tests.over <= 11.0) | (tests.over >=16.0)].index)
sets.reset_index(drop = True)
yt1 = sets['total_runs_y']
yt2 = sets['winner']
sets.drop(columns = ['id', 'date', 'total_runs_y', 'winner'], inplace = True)
sets.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0   12.0    5.0          5.0       1  ...    0            0         95           2
1   12.0    5.0          5.0       1  ...    0            0         95           2
2   12.0    5.0          5.0       1  ...    0            0         96           2
3   12.0    5.0          5.0       1  ...    0            0         96           2
4   12.0    5.0          5.0       1  ...    0            0         97           2

[5 rows x 12 columns]

In [44]:
yt1 = yt1.ravel()

In [45]:
xs = sc.fit_transform(sets)

In [46]:
predictions = model.predict(xs)
sample = pd.DataFrame(predictions,columns=['Predict'])
sample['Actual']=yt1
sample.head(10)

      Predict  Actual
0  167.983765     159
1  167.366104     159
2  167.485123     159
3  166.782379     159
4  166.883209     159
5  166.991333     159
6  164.669586     159
7  166.712204     159
8  166.728973     159
9  166.707779     159

In [47]:
ar1 = sample['Actual'].unique()
results = pd.DataFrame()
for items in ar1:
  # print(items)
  try2 = sample[sample.Actual == items]
  result = (try2.sum())/try2.shape[0]
  # print(result)
  res = result.values.reshape(1,2)
  # print(res)
  results = results.append(pd.DataFrame(res))

In [52]:
results.rename(columns = {0: 'Predict',
                          1: 'Actual'
                          }, inplace = True)
results.reset_index(drop = True)
print(custom_accuracy(results['Actual'].ravel(),results['Predict'].ravel(),12))

37.142857142857146