<a href="https://colab.research.google.com/github/UtkarshAIITB/IPL-Data-Analysis/blob/main/DL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
new = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/new.csv')
# new.head()

In [4]:
t = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/t.csv')
# t.head()

In [5]:
t.drop(columns = ['Unnamed: 0'], inplace = True)
t.head()

       id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  597998  2013-04-03      9  ...           128          0           1
1  597998  2013-04-03      9  ...           128          4           1
2  597998  2013-04-03      9  ...           128          5           1
3  597998  2013-04-03      9  ...           128          5           1
4  597998  2013-04-03      9  ...           128          5           1

[5 rows x 17 columns]

In [6]:
new.drop(columns = ['Unnamed: 0'], inplace = True)

In [7]:
new.head()

       id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  335982  2008-04-18      5  ...           222          1           0
1  335982  2008-04-18      5  ...           222          1           0
2  335982  2008-04-18      5  ...           222          2           0
3  335982  2008-04-18      5  ...           222          2           0
4  335982  2008-04-18      5  ...           222          2           0

[5 rows x 17 columns]

In [8]:
# new is the training set and t is the test set

In [9]:
tnew = t.drop(t[(t.over <= 11.0) | (t.over >=16.0)].index)
tnew.reset_index(drop = True)
y1test = tnew['total_runs_y']
y2test = tnew['winner']
tnew.drop(columns = ['id', 'date', 'year', 'total_runs_y', 'winner'], inplace = True)
tnew.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      9      6            9       1  ...    0            0         76           3
1      9      6            9       1  ...    0            0         77           3
2      9      6            9       1  ...    0            0         78           3
3      9      6            9       1  ...    0            0         79           3
4      9      6            9       1  ...    0            0         79           3

[5 rows x 12 columns]

In [10]:
xnew = new.drop(new[(new.over <=11.0) | (new.over >=16.0)].index)
xnew.reset_index(drop = True)
y1train = xnew['total_runs_y']
y2train = xnew['winner']
xnew.drop(columns = ['id', 'date', 'year', 'total_runs_y', 'winner'], inplace = True)
xnew.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      5      9            5       1  ...    0            0        102           1
1      5      9            5       1  ...    0            0        108           1
2      5      9            5       1  ...    0            0        110           1
3      5      9            5       1  ...    0            0        111           1
4      5      9            5       1  ...    0            0        111           1

[5 rows x 12 columns]

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [12]:
xnewt = sc.fit_transform(xnew) 
tnewt = sc.fit_transform(tnew)

In [13]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [84]:
model = Sequential()
model.add(Dense(200, activation = 'relu'))
model.add(Dropout(0.5))

model.add(Dense(100, activation = 'relu'))
model.add(Dropout(0.5))

model.add(Dense(50, activation = 'relu'))
model.add(Dropout(0.5))

model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

In [85]:
model.fit(x=xnewt, y=y1train, epochs=200, 
          validation_data=(tnewt,y1test))

Epoch 1/200
1370/1370 [==============================] - 3s 2ms/step - loss: 3049.3257 - val_loss: 346.1981
Epoch 2/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1686.5195 - val_loss: 269.6570
Epoch 3/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1596.0295 - val_loss: 262.4864
Epoch 4/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1529.0812 - val_loss: 288.1367
Epoch 5/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1497.9878 - val_loss: 296.3682
Epoch 6/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1435.5721 - val_loss: 267.1111
Epoch 7/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1391.7900 - val_loss: 257.8290
Epoch 8/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1364.9725 - val_loss: 272.6342
Epoch 9/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1340.5673 - val_loss: 262.5283
Epoch 10/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1304.1819 - val_loss: 264.3592
Epoch 11/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1256.7152 - val_loss: 287.0146
Epoch 12/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1243.0863 - val_loss: 282.3410
Epoch 13/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1205.6855 - val_loss: 264.1692
Epoch 14/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1171.2025 - val_loss: 287.2885
Epoch 15/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1154.1118 - val_loss: 278.8412
Epoch 16/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1124.7013 - val_loss: 288.9310
Epoch 17/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1100.9470 - val_loss: 296.7769
Epoch 18/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1061.6871 - val_loss: 305.3665
Epoch 19/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1042.8518 - val_loss: 279.2789
Epoch 20/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1036.6698 - val_loss: 313.4458
Epoch 21/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1008.1420 - val_loss: 304.6823
Epoch 22/200
1370/1370 [==============================] - 3s 2ms/step - loss: 1008.7724 - val_loss: 298.5714
Epoch 23/200
1370/1370 [==============================] - 3s 2ms/step - loss: 973.4748 - val_loss: 307.6797
Epoch 24/200
1370/1370 [==============================] - 3s 2ms/step - loss: 947.9581 - val_loss: 310.0142
Epoch 25/200
1370/1370 [==============================] - 3s 2ms/step - loss: 937.1766 - val_loss: 305.9929
Epoch 26/200
1370/1370 [==============================] - 3s 2ms/step - loss: 938.3904 - val_loss: 310.3776
Epoch 27/200
1370/1370 [==============================] - 3s 2ms/step - loss: 928.0510 - val_loss: 311.1302
Epoch 28/200
1370/1370 [==============================] - 3s 2ms/step - loss: 915.9353 - val_loss: 308.3498
Epoch 29/200
1370/1370 [==============================] - 3s 2ms/step - loss: 897.0711 - val_loss: 305.5987
Epoch 30/200
1370/1370 [==============================] - 3s 2ms/step - loss: 891.3713 - val_loss: 283.8416
Epoch 31/200
1370/1370 [==============================] - 3s 2ms/step - loss: 878.6947 - val_loss: 316.8780
Epoch 32/200
1370/1370 [==============================] - 3s 2ms/step - loss: 870.9174 - val_loss: 304.3009
Epoch 33/200
1370/1370 [==============================] - 3s 2ms/step - loss: 861.6606 - val_loss: 295.3552
Epoch 34/200
1370/1370 [==============================] - 3s 2ms/step - loss: 865.4163 - val_loss: 299.7642
Epoch 35/200
1370/1370 [==============================] - 3s 2ms/step - loss: 841.8715 - val_loss: 275.2447
Epoch 36/200
1370/1370 [==============================] - 3s 2ms/step - loss: 846.2248 - val_loss: 296.2981
Epoch 37/200
1370/1370 [==============================] - 3s 2ms/step - loss: 829.6287 - val_loss: 306.4531
Epoch 38/200
1370/1370 [==============================] - 3s 2ms/step - loss: 816.1982 - val_loss: 277.5659
Epoch 39/200
1370/1370 [==============================] - 3s 2ms/step - loss: 813.8221 - val_loss: 311.5663
Epoch 40/200
1370/1370 [==============================] - 3s 2ms/step - loss: 809.3461 - val_loss: 277.6238
Epoch 41/200
1370/1370 [==============================] - 3s 2ms/step - loss: 799.5941 - val_loss: 286.7114
Epoch 42/200
1370/1370 [==============================] - 3s 2ms/step - loss: 786.6781 - val_loss: 313.7267
Epoch 43/200
1370/1370 [==============================] - 3s 2ms/step - loss: 782.2412 - val_loss: 306.9515
Epoch 44/200
1370/1370 [==============================] - 3s 2ms/step - loss: 775.4297 - val_loss: 306.5671
Epoch 45/200
1370/1370 [==============================] - 3s 2ms/step - loss: 774.2465 - val_loss: 314.4608
Epoch 46/200
1370/1370 [==============================] - 3s 2ms/step - loss: 765.5342 - val_loss: 296.5555
Epoch 47/200
1370/1370 [==============================] - 3s 2ms/step - loss: 753.1016 - val_loss: 302.7433
Epoch 48/200
1370/1370 [==============================] - 3s 2ms/step - loss: 744.2466 - val_loss: 318.1161
Epoch 49/200
1370/1370 [==============================] - 3s 2ms/step - loss: 745.7861 - val_loss: 303.0524
Epoch 50/200
1370/1370 [==============================] - 3s 2ms/step - loss: 726.4104 - val_loss: 297.7041
Epoch 51/200
1370/1370 [==============================] - 3s 2ms/step - loss: 723.1578 - val_loss: 326.7796
Epoch 52/200
1370/1370 [==============================] - 3s 2ms/step - loss: 719.3416 - val_loss: 306.0795
Epoch 53/200
1370/1370 [==============================] - 3s 2ms/step - loss: 696.8779 - val_loss: 313.5273
Epoch 54/200
1370/1370 [==============================] - 3s 2ms/step - loss: 692.6633 - val_loss: 290.1703
Epoch 55/200
1370/1370 [==============================] - 3s 2ms/step - loss: 693.8106 - val_loss: 317.0982
Epoch 56/200
1370/1370 [==============================] - 3s 2ms/step - loss: 683.1399 - val_loss: 326.6340
Epoch 57/200
1370/1370 [==============================] - 3s 2ms/step - loss: 681.1397 - val_loss: 307.4900
Epoch 58/200
1370/1370 [==============================] - 3s 2ms/step - loss: 664.3299 - val_loss: 328.9650
Epoch 59/200
1370/1370 [==============================] - 3s 2ms/step - loss: 660.0303 - val_loss: 308.7998
Epoch 60/200
1370/1370 [==============================] - 3s 2ms/step - loss: 657.7017 - val_loss: 296.5255
Epoch 61/200
1370/1370 [==============================] - 3s 2ms/step - loss: 650.0570 - val_loss: 335.1278
Epoch 62/200
1370/1370 [==============================] - 3s 2ms/step - loss: 643.3281 - val_loss: 325.6408
Epoch 63/200
1370/1370 [==============================] - 3s 2ms/step - loss: 637.2939 - val_loss: 319.3332
Epoch 64/200
1370/1370 [==============================] - 3s 2ms/step - loss: 633.6774 - val_loss: 298.4585
Epoch 65/200
1370/1370 [==============================] - 3s 2ms/step - loss: 622.7916 - val_loss: 314.3568
Epoch 66/200
1370/1370 [==============================] - 3s 2ms/step - loss: 620.5374 - val_loss: 314.6815
Epoch 67/200
1370/1370 [==============================] - 3s 2ms/step - loss: 610.5168 - val_loss: 312.0257
Epoch 68/200
1370/1370 [==============================] - 3s 2ms/step - loss: 604.8080 - val_loss: 327.9316
Epoch 69/200
1370/1370 [==============================] - 3s 2ms/step - loss: 595.9720 - val_loss: 314.5951
Epoch 70/200
1370/1370 [==============================] - 3s 2ms/step - loss: 590.6591 - val_loss: 320.8506
Epoch 71/200
1370/1370 [==============================] - 3s 2ms/step - loss: 581.7482 - val_loss: 299.9884
Epoch 72/200
1370/1370 [==============================] - 3s 2ms/step - loss: 580.5521 - val_loss: 306.4428
Epoch 73/200
1370/1370 [==============================] - 3s 2ms/step - loss: 575.5273 - val_loss: 321.0446
Epoch 74/200
1370/1370 [==============================] - 3s 2ms/step - loss: 568.7576 - val_loss: 307.2082
Epoch 75/200
1370/1370 [==============================] - 3s 2ms/step - loss: 567.8218 - val_loss: 301.8845
Epoch 76/200
1370/1370 [==============================] - 3s 2ms/step - loss: 553.4640 - val_loss: 319.4259
Epoch 77/200
1370/1370 [==============================] - 3s 2ms/step - loss: 555.9492 - val_loss: 308.4552
Epoch 78/200
1370/1370 [==============================] - 3s 2ms/step - loss: 545.5879 - val_loss: 322.8775
Epoch 79/200
1370/1370 [==============================] - 3s 2ms/step - loss: 548.3224 - val_loss: 308.8932
Epoch 80/200
1370/1370 [==============================] - 3s 2ms/step - loss: 538.1289 - val_loss: 324.9038
Epoch 81/200
1370/1370 [==============================] - 3s 2ms/step - loss: 530.2373 - val_loss: 303.2665
Epoch 82/200
1370/1370 [==============================] - 3s 2ms/step - loss: 525.8137 - val_loss: 308.2921
Epoch 83/200
1370/1370 [==============================] - 3s 2ms/step - loss: 525.2435 - val_loss: 324.4370
Epoch 84/200
1370/1370 [==============================] - 3s 2ms/step - loss: 522.6603 - val_loss: 315.7464
Epoch 85/200
1370/1370 [==============================] - 3s 2ms/step - loss: 506.3608 - val_loss: 324.7684
Epoch 86/200
1370/1370 [==============================] - 3s 2ms/step - loss: 503.9325 - val_loss: 316.8951
Epoch 87/200
1370/1370 [==============================] - 3s 2ms/step - loss: 492.2968 - val_loss: 302.7260
Epoch 88/200
1370/1370 [==============================] - 3s 2ms/step - loss: 489.4718 - val_loss: 308.9189
Epoch 89/200
1370/1370 [==============================] - 3s 2ms/step - loss: 482.5833 - val_loss: 323.6697
Epoch 90/200
1370/1370 [==============================] - 3s 2ms/step - loss: 485.7268 - val_loss: 317.0637
Epoch 91/200
1370/1370 [==============================] - 3s 2ms/step - loss: 478.3672 - val_loss: 315.9012
Epoch 92/200
1370/1370 [==============================] - 3s 2ms/step - loss: 470.7897 - val_loss: 313.6787
Epoch 93/200
1370/1370 [==============================] - 3s 2ms/step - loss: 473.5693 - val_loss: 325.4523
Epoch 94/200
1370/1370 [==============================] - 3s 2ms/step - loss: 462.2150 - val_loss: 340.8600
Epoch 95/200
1370/1370 [==============================] - 3s 2ms/step - loss: 456.1396 - val_loss: 346.5372
Epoch 96/200
1370/1370 [==============================] - 3s 2ms/step - loss: 455.4356 - val_loss: 338.6208
Epoch 97/200
1370/1370 [==============================] - 3s 2ms/step - loss: 457.0554 - val_loss: 328.4712
Epoch 98/200
1370/1370 [==============================] - 3s 2ms/step - loss: 448.3369 - val_loss: 323.7136
Epoch 99/200
1370/1370 [==============================] - 3s 2ms/step - loss: 444.3583 - val_loss: 331.8680
Epoch 100/200
1370/1370 [==============================] - 3s 2ms/step - loss: 440.1784 - val_loss: 323.5323
Epoch 101/200
1370/1370 [==============================] - 3s 2ms/step - loss: 431.8038 - val_loss: 322.5852
Epoch 102/200
1370/1370 [==============================] - 3s 2ms/step - loss: 428.1640 - val_loss: 316.6101
Epoch 103/200
1370/1370 [==============================] - 3s 2ms/step - loss: 426.3005 - val_loss: 328.4746
Epoch 104/200
1370/1370 [==============================] - 3s 2ms/step - loss: 423.3738 - val_loss: 317.7785
Epoch 105/200
1370/1370 [==============================] - 3s 2ms/step - loss: 419.0271 - val_loss: 334.2418
Epoch 106/200
1370/1370 [==============================] - 3s 2ms/step - loss: 417.5345 - val_loss: 341.8164
Epoch 107/200
1370/1370 [==============================] - 3s 2ms/step - loss: 415.4695 - val_loss: 315.5107
Epoch 108/200
1370/1370 [==============================] - 3s 2ms/step - loss: 405.3867 - val_loss: 314.9866
Epoch 109/200
1370/1370 [==============================] - 3s 2ms/step - loss: 402.0878 - val_loss: 336.9547
Epoch 110/200
1370/1370 [==============================] - 3s 2ms/step - loss: 401.0453 - val_loss: 331.1869
Epoch 111/200
1370/1370 [==============================] - 3s 2ms/step - loss: 398.7754 - val_loss: 323.7069
Epoch 112/200
1370/1370 [==============================] - 3s 2ms/step - loss: 395.0654 - val_loss: 317.3430
Epoch 113/200
1370/1370 [==============================] - 3s 2ms/step - loss: 391.2846 - val_loss: 315.3945
Epoch 114/200
1370/1370 [==============================] - 3s 2ms/step - loss: 386.9940 - val_loss: 340.3297
Epoch 115/200
1370/1370 [==============================] - 3s 2ms/step - loss: 385.5157 - val_loss: 330.1750
Epoch 116/200
1370/1370 [==============================] - 3s 2ms/step - loss: 380.0042 - val_loss: 333.7795
Epoch 117/200
1370/1370 [==============================] - 3s 2ms/step - loss: 381.7378 - val_loss: 334.4176
Epoch 118/200
1370/1370 [==============================] - 3s 2ms/step - loss: 375.9015 - val_loss: 336.2834
Epoch 119/200
1370/1370 [==============================] - 3s 2ms/step - loss: 375.1684 - val_loss: 339.1169
Epoch 120/200
1370/1370 [==============================] - 3s 2ms/step - loss: 365.8882 - val_loss: 335.8706
Epoch 121/200
1370/1370 [==============================] - 3s 2ms/step - loss: 369.5013 - val_loss: 333.5476
Epoch 122/200
1370/1370 [==============================] - 3s 2ms/step - loss: 366.4409 - val_loss: 333.2869
Epoch 123/200
1370/1370 [==============================] - 3s 2ms/step - loss: 359.1526 - val_loss: 329.6801
Epoch 124/200
1370/1370 [==============================] - 3s 2ms/step - loss: 353.8440 - val_loss: 340.0867
Epoch 125/200
1370/1370 [==============================] - 3s 2ms/step - loss: 352.2743 - val_loss: 335.9611
Epoch 126/200
1370/1370 [==============================] - 3s 2ms/step - loss: 351.2785 - val_loss: 331.3796
Epoch 127/200
1370/1370 [==============================] - 3s 2ms/step - loss: 348.7105 - val_loss: 332.9438
Epoch 128/200
1370/1370 [==============================] - 3s 2ms/step - loss: 346.8123 - val_loss: 338.4063
Epoch 129/200
1370/1370 [==============================] - 3s 2ms/step - loss: 344.3120 - val_loss: 328.9284
Epoch 130/200
1370/1370 [==============================] - 3s 2ms/step - loss: 342.5854 - val_loss: 335.3421
Epoch 131/200
1370/1370 [==============================] - 3s 2ms/step - loss: 335.1145 - val_loss: 354.8040
Epoch 132/200
1370/1370 [==============================] - 3s 2ms/step - loss: 338.0281 - val_loss: 355.9046
Epoch 133/200
1370/1370 [==============================] - 3s 2ms/step - loss: 331.8181 - val_loss: 342.2803
Epoch 134/200
1370/1370 [==============================] - 3s 2ms/step - loss: 331.5501 - val_loss: 345.4816
Epoch 135/200
1370/1370 [==============================] - 3s 2ms/step - loss: 331.1934 - val_loss: 324.4652
Epoch 136/200
1370/1370 [==============================] - 3s 2ms/step - loss: 325.5190 - val_loss: 338.4497
Epoch 137/200
1370/1370 [==============================] - 3s 2ms/step - loss: 324.5590 - val_loss: 342.3284
Epoch 138/200
1370/1370 [==============================] - 3s 2ms/step - loss: 323.5101 - val_loss: 347.2374
Epoch 139/200
1370/1370 [==============================] - 3s 2ms/step - loss: 321.1216 - val_loss: 346.4147
Epoch 140/200
1370/1370 [==============================] - 3s 2ms/step - loss: 318.7072 - val_loss: 343.4297
Epoch 141/200
1370/1370 [==============================] - 3s 2ms/step - loss: 314.6283 - val_loss: 336.4850
Epoch 142/200
1370/1370 [==============================] - 3s 2ms/step - loss: 315.0423 - val_loss: 345.9839
Epoch 143/200
1370/1370 [==============================] - 3s 2ms/step - loss: 311.4274 - val_loss: 334.7285
Epoch 144/200
1370/1370 [==============================] - 3s 2ms/step - loss: 314.1169 - val_loss: 344.6129
Epoch 145/200
1370/1370 [==============================] - 3s 2ms/step - loss: 306.3477 - val_loss: 344.2292
Epoch 146/200
1370/1370 [==============================] - 3s 2ms/step - loss: 304.6228 - val_loss: 337.6324
Epoch 147/200
1370/1370 [==============================] - 3s 2ms/step - loss: 303.8070 - val_loss: 335.9384
Epoch 148/200
1370/1370 [==============================] - 3s 2ms/step - loss: 302.0256 - val_loss: 342.5783
Epoch 149/200
1370/1370 [==============================] - 3s 2ms/step - loss: 301.6691 - val_loss: 341.2550
Epoch 150/200
1370/1370 [==============================] - 3s 2ms/step - loss: 299.9289 - val_loss: 341.0264
Epoch 151/200
1370/1370 [==============================] - 3s 2ms/step - loss: 296.5741 - val_loss: 336.5346
Epoch 152/200
1370/1370 [==============================] - 3s 2ms/step - loss: 292.6686 - val_loss: 341.0218
Epoch 153/200
1370/1370 [==============================] - 3s 2ms/step - loss: 293.7114 - val_loss: 339.8990
Epoch 154/200
1370/1370 [==============================] - 3s 2ms/step - loss: 292.6849 - val_loss: 338.8126
Epoch 155/200
1370/1370 [==============================] - 3s 2ms/step - loss: 290.5218 - val_loss: 340.8840
Epoch 156/200
1370/1370 [==============================] - 3s 2ms/step - loss: 289.3972 - val_loss: 341.8947
Epoch 157/200
1370/1370 [==============================] - 3s 2ms/step - loss: 289.3766 - val_loss: 357.0092
Epoch 158/200
1370/1370 [==============================] - 3s 2ms/step - loss: 287.2738 - val_loss: 344.6239
Epoch 159/200
1370/1370 [==============================] - 3s 2ms/step - loss: 283.0903 - val_loss: 352.9747
Epoch 160/200
1370/1370 [==============================] - 3s 2ms/step - loss: 283.7236 - val_loss: 349.9394
Epoch 161/200
1370/1370 [==============================] - 3s 2ms/step - loss: 282.4778 - val_loss: 344.8947
Epoch 162/200
1370/1370 [==============================] - 3s 2ms/step - loss: 280.7061 - val_loss: 330.3046
Epoch 163/200
1370/1370 [==============================] - 3s 2ms/step - loss: 280.5488 - val_loss: 345.8231
Epoch 164/200
1370/1370 [==============================] - 3s 2ms/step - loss: 280.5407 - val_loss: 357.1561
Epoch 165/200
1370/1370 [==============================] - 3s 2ms/step - loss: 277.3367 - val_loss: 364.9887
Epoch 166/200
1370/1370 [==============================] - 3s 2ms/step - loss: 274.7239 - val_loss: 356.7230
Epoch 167/200
1370/1370 [==============================] - 3s 2ms/step - loss: 274.9550 - val_loss: 356.4885
Epoch 168/200
1370/1370 [==============================] - 3s 2ms/step - loss: 274.6839 - val_loss: 356.0805
Epoch 169/200
1370/1370 [==============================] - 3s 2ms/step - loss: 274.2348 - val_loss: 359.2934
Epoch 170/200
1370/1370 [==============================] - 3s 2ms/step - loss: 271.0826 - val_loss: 347.5896
Epoch 171/200
1370/1370 [==============================] - 3s 2ms/step - loss: 268.1147 - val_loss: 364.8738
Epoch 172/200
1370/1370 [==============================] - 3s 2ms/step - loss: 272.7460 - val_loss: 347.1861
Epoch 173/200
1370/1370 [==============================] - 3s 2ms/step - loss: 270.4565 - val_loss: 361.3151
Epoch 174/200
1370/1370 [==============================] - 3s 2ms/step - loss: 267.4589 - val_loss: 356.1515
Epoch 175/200
1370/1370 [==============================] - 3s 2ms/step - loss: 265.9534 - val_loss: 351.1472
Epoch 176/200
1370/1370 [==============================] - 3s 2ms/step - loss: 264.5193 - val_loss: 360.1944
Epoch 177/200
1370/1370 [==============================] - 3s 2ms/step - loss: 268.5503 - val_loss: 371.9045
Epoch 178/200
1370/1370 [==============================] - 3s 2ms/step - loss: 263.0866 - val_loss: 355.9726
Epoch 179/200
1370/1370 [==============================] - 3s 2ms/step - loss: 263.9497 - val_loss: 356.8714
Epoch 180/200
1370/1370 [==============================] - 3s 2ms/step - loss: 263.8760 - val_loss: 352.8095
Epoch 181/200
1370/1370 [==============================] - 3s 2ms/step - loss: 261.4733 - val_loss: 358.4492
Epoch 182/200
1370/1370 [==============================] - 3s 2ms/step - loss: 260.3436 - val_loss: 363.7032
Epoch 183/200
1370/1370 [==============================] - 3s 2ms/step - loss: 259.7246 - val_loss: 349.6206
Epoch 184/200
1370/1370 [==============================] - 3s 2ms/step - loss: 258.0520 - val_loss: 347.8650
Epoch 185/200

In [86]:
y1test = y1test.ravel()

In [87]:
predictions = model.predict(tnewt)
sample = pd.DataFrame(predictions,columns=['Predict'])
sample['Actual']=y1test
sample.head(10)

      Predict  Actual
0  164.682068     128
1  165.171799     128
2  165.717056     128
3  166.267487     128
4  165.613586     128
5  141.648499     128
6  141.779663     128
7  141.419312     128
8  141.323044     128
9  146.508286     128

In [88]:
def custom_accuracy(y_test,y_pred,thresold):
    right = 0
    l = len(y_pred)
    for i in range(0,l):
        if(abs(y_pred[i]-y_test[i]) <= thresold):
            right += 1
    return ((right/l)*100)

In [89]:
custom_accuracy(sample['Actual'] , sample['Predict'],10)

42.08916083916084

In [90]:
# sample.to_csv('sample.csv')

In [91]:
# try1 = sample[sample.Actual == 128]
# try1.head()

In [92]:
# try1.shape[0]

In [93]:
# try1.sum()

In [94]:
# (try1.sum())/try1.shape[0]

In [95]:
# try2 = sample[sample.Actual == 129]
# (try2.sum())/try2.shape[0]

In [96]:
# try2 = sample[sample.Actual == 156]
# result = (try2.sum())/try2.shape[0]

In [97]:
# result

In [98]:
# res2 = result.values.reshape(1,2)

In [99]:
# res2

In [100]:
# res2.shape

In [101]:
# df.loc[len(df)] = your_array
# results.loc[len(results)] = res2
# df.append(pd.DataFrame(arr).T)
# results = results.append(pd.DataFrame(res2))
# results.append(pd.DataFrame(res3))

In [102]:
ar1 = sample['Actual'].unique()

In [103]:
results = pd.DataFrame()

In [104]:
for items in ar1:
  # print(items)
  try2 = sample[sample.Actual == items]
  result = (try2.sum())/try2.shape[0]
  # print(result)
  res = result.values.reshape(1,2)
  # print(res)
  results = results.append(pd.DataFrame(res))

In [105]:
results.head()

            0      1
0  144.348239  128.0
0  148.233099  129.0
0  153.139252  156.0
0  160.135460  154.0
0  144.348145  126.0

In [106]:
# rankings_pd.rename(columns = {'test':'TEST'}, inplace = True)
results.rename(columns = {0: 'Predict',
                          1: 'Actual'
                          }, inplace = True)

In [107]:
results.reset_index(drop = True)

       Predict  Actual
0   144.348239   128.0
1   148.233099   129.0
2   153.139252   156.0
3   160.135460   154.0
4   144.348145   126.0
..         ...     ...
79  196.724869   190.0
80  128.490400   113.0
81  162.502268   172.0
82  147.217182   134.0
83  170.402539   192.0

[84 rows x 2 columns]

In [108]:
results.tail()

      Predict  Actual
0  196.724869   190.0
0  128.490400   113.0
0  162.502268   172.0
0  147.217182   134.0
0  170.402539   192.0

In [109]:
print(custom_accuracy(results['Actual'].ravel(),results['Predict'].ravel(),12))

48.80952380952381

In [110]:
# results.info()

In [111]:
# results['Actual']

take epochs = 90 next time

In [112]:
tests = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/testset.csv')
# tests.head()
tests.drop(columns = ['Unnamed: 0'], inplace = True)
tests.head()

        id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  1254058  2021-04-09   12.0  ...           159          2           0
1  1254058  2021-04-09   12.0  ...           159          2           0
2  1254058  2021-04-09   12.0  ...           159          2           0
3  1254058  2021-04-09   12.0  ...           159          4           0
4  1254058  2021-04-09   12.0  ...           159          4           0

[5 rows x 16 columns]

In [113]:
sets = tests.drop(tests[(tests.over <= 11.0) | (tests.over >=16.0)].index)
sets.reset_index(drop = True)
yt1 = sets['total_runs_y']
yt2 = sets['winner']
sets.drop(columns = ['id', 'date', 'total_runs_y', 'winner'], inplace = True)
sets.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0   12.0    5.0          5.0       1  ...    0            0         95           2
1   12.0    5.0          5.0       1  ...    0            0         95           2
2   12.0    5.0          5.0       1  ...    0            0         96           2
3   12.0    5.0          5.0       1  ...    0            0         96           2
4   12.0    5.0          5.0       1  ...    0            0         97           2

[5 rows x 12 columns]

In [114]:
yt1 = yt1.ravel()

In [115]:
xs = sc.fit_transform(sets)

In [116]:
predictions = model.predict(xs)
sample = pd.DataFrame(predictions,columns=['Predict'])
sample['Actual']=yt1
sample.head(10)

      Predict  Actual
0  170.699493     159
1  169.386719     159
2  169.521774     159
3  168.239075     159
4  168.390411     159
5  168.558395     159
6  165.314148     159
7  168.277039     159
8  168.450699     159
9  168.624359     159

In [117]:
ar1 = sample['Actual'].unique()
results = pd.DataFrame()
for items in ar1:
  # print(items)
  try2 = sample[sample.Actual == items]
  result = (try2.sum())/try2.shape[0]
  # print(result)
  res = result.values.reshape(1,2)
  # print(res)
  results = results.append(pd.DataFrame(res))

In [118]:
results.rename(columns = {0: 'Predict',
                          1: 'Actual'
                          }, inplace = True)
results.reset_index(drop = True)
print(custom_accuracy(results['Actual'].ravel(),results['Predict'].ravel(),12))

37.142857142857146