<a href="https://colab.research.google.com/github/UtkarshAIITB/IPL-Data-Analysis/blob/main/ML_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [155]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [156]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [157]:
ball = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/IPL Ball-by-Ball 2008-2020.csv')
print(ball.shape)
ball.head()

(193468, 18)

       id  inning  ...           batting_team                 bowling_team
0  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 18 columns]

In [158]:
match = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/IPL Matches 2008-2020.csv')
print(match.shape)
match.head()

(816, 17)

       id        city        date  ... method    umpire1         umpire2
0  335982   Bangalore  2008-04-18  ...    NaN  Asad Rauf     RE Koertzen
1  335983  Chandigarh  2008-04-19  ...    NaN  MR Benson      SL Shastri
2  335984       Delhi  2008-04-19  ...    NaN  Aleem Dar  GA Pratapkumar
3  335985      Mumbai  2008-04-20  ...    NaN   SJ Davis       DJ Harper
4  335986     Kolkata  2008-04-20  ...    NaN  BF Bowden     K Hariharan

[5 rows x 17 columns]

In [159]:
df = pd.merge(match , ball, on='id', how = 'right')
print(df.shape)
df.head()

(193468, 34)

       id       city  ...           batting_team                 bowling_team
0  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 34 columns]

In [160]:
df = df.replace(['Rising Pune Supergiant' , 'Rising Pune Supergiants', 'Delhi Daredevils'], ['Pune Warriors' , 'Pune Warriors', 'Delhi Capitals'])

In [161]:
df['year'] = pd.DatetimeIndex(df['date']).year
# data['year'] = pd.DatetimeIndex(data['date']).year
df.head()

       id       city  ...                 bowling_team  year
0  335982  Bangalore  ...  Royal Challengers Bangalore  2008
1  335982  Bangalore  ...  Royal Challengers Bangalore  2008
2  335982  Bangalore  ...  Royal Challengers Bangalore  2008
3  335982  Bangalore  ...  Royal Challengers Bangalore  2008
4  335982  Bangalore  ...  Royal Challengers Bangalore  2008

[5 rows x 35 columns]

In [162]:
columns = ['neutral_venue', 'result', 'result_margin', 'umpire1', 'umpire2', 'batsman', 'non_striker', 'bowler', 'non_boundary', 'dismissal_kind',
           'player_dismissed', 'fielder', 'extras_type', 'player_of_match', 'venue', 'city']
df_run = df.drop(columns = columns)
df_run.head()

       id        date  ...                 bowling_team  year
0  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
1  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
2  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
3  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
4  335982  2008-04-18  ...  Royal Challengers Bangalore  2008

[5 rows x 19 columns]

In [163]:
df_run['method']  = df_run['method'].fillna('Normal')
df_run.head()

       id        date  ...                 bowling_team  year
0  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
1  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
2  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
3  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
4  335982  2008-04-18  ...  Royal Challengers Bangalore  2008

[5 rows x 19 columns]

In [164]:
winner_null = df_run[df_run['winner'].isna()]
df_run = df_run.dropna()

In [165]:
df_sort = df_run.sort_values(by = ['id', 'inning', 'over', 'ball'])
df_sort = df_sort.reset_index()
df_sort = df_sort.drop(columns = 'index')
df_sort.head()

       id        date  ...                 bowling_team  year
0  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
1  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
2  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
3  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
4  335982  2008-04-18  ...  Royal Challengers Bangalore  2008

[5 rows x 19 columns]

In [166]:
dummy_td = pd.get_dummies(df_sort.toss_decision)
df_enc = pd.concat([df_sort, dummy_td], axis = 'columns')                     #encoded toss decisions - field or bat
df_enc = df_enc.drop(columns = ['toss_decision', 'bat'])
# df_enc.head()
dummy_td = pd.get_dummies(df_sort.method)
df_enc = pd.concat([df_enc, dummy_td], axis = 'columns')
df_enc = df_enc.drop(columns = ['method', 'Normal'])                          #encoded method - normal or D/L
# df_enc.head()
dummy_td = pd.get_dummies(df_sort.eliminator)
dummy_td.rename(columns = {'Y': 'eliminator?' }, inplace = True )
df_enc = pd.concat([df_enc, dummy_td], axis = 'columns')
df_enc = df_enc.drop(columns = ['eliminator', 'N'])  
df_enc.head()

       id        date                        team1  ... field D/L eliminator?
0  335982  2008-04-18  Royal Challengers Bangalore  ...     1   0           0
1  335982  2008-04-18  Royal Challengers Bangalore  ...     1   0           0
2  335982  2008-04-18  Royal Challengers Bangalore  ...     1   0           0
3  335982  2008-04-18  Royal Challengers Bangalore  ...     1   0           0
4  335982  2008-04-18  Royal Challengers Bangalore  ...     1   0           0

[5 rows x 19 columns]

In [167]:
df_enc['inning_bat'] = df_enc['id'].astype(str)+(df_enc['batting_team']).astype(str)
df_enc.head()

       id        date  ... eliminator?                   inning_bat
0  335982  2008-04-18  ...           0  335982Kolkata Knight Riders
1  335982  2008-04-18  ...           0  335982Kolkata Knight Riders
2  335982  2008-04-18  ...           0  335982Kolkata Knight Riders
3  335982  2008-04-18  ...           0  335982Kolkata Knight Riders
4  335982  2008-04-18  ...           0  335982Kolkata Knight Riders

[5 rows x 20 columns]

In [168]:
list1 = df_enc['inning_bat'].unique()
df_copy = df_enc.copy()
df_copy = df_copy.groupby(by = ['inning_bat']).sum()['total_runs'].reset_index()
data = pd.merge(left=df_enc, right=df_copy, on='inning_bat', how='right')
print(data.shape)
data.head()

(193096, 21)

        id        date  ...                          inning_bat total_runs_y
0  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
1  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
2  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
3  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
4  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172

[5 rows x 21 columns]

In [169]:
data['over'] = data['over']+ (data['ball'])/10
data.drop(columns = ['ball'], inplace = True)
print(data.shape)
data.head()

(193096, 20)

        id        date  ...                          inning_bat total_runs_y
0  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
1  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
2  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
3  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
4  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172

[5 rows x 20 columns]

In [170]:
df_final = pd.DataFrame()
for bat in list1:
  inning  = data[data['inning_bat']==bat].copy()
  # inning.head()
  cum_total  = inning.loc[:,'total_runs_x'].cumsum(axis = 0)
  inning['cum_total'] = cum_total
  cum_wicket = inning.loc[:,'is_wicket'].cumsum(axis = 0)
  inning['cum_wicket'] = cum_wicket
  # inning.head()
  df_final = df_final.append(inning, ignore_index=True)

In [171]:
df_final.head()

       id        date  ... cum_total cum_wicket
0  335982  2008-04-18  ...         1          0
1  335982  2008-04-18  ...         1          0
2  335982  2008-04-18  ...         2          0
3  335982  2008-04-18  ...         2          0
4  335982  2008-04-18  ...         2          0

[5 rows x 22 columns]

In [172]:
team_dict = {'Mumbai Indians':12, 'Chennai Super Kings':11, 'Rajasthan Royals':10, 'Kolkata Knight Riders':9, 'Kings XI Punjab':8,
             'Sunrisers Hyderabad':7, 'Delhi Capitals':6, 'Royal Challengers Bangalore':5, 'Gujarat Lions':4, 'Deccan Chargers':3,
             'Pune Warriors':2, 'Kochi Tuskers Kerala':1
             }

In [173]:
bore = df_final.copy()
bore['team1'] = bore.team1.map(team_dict)
bore['team2'] = bore.team2.map(team_dict)
bore['toss_winner'] = bore.toss_winner.map(team_dict)
bore['winner'] = bore.winner.map(team_dict)
bore['batting_team'] = bore.batting_team.map(team_dict)
bore['bowling_team'] = bore.bowling_team.map(team_dict)
bore.head()

       id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  335982  2008-04-18      5  ...           222          1           0
1  335982  2008-04-18      5  ...           222          1           0
2  335982  2008-04-18      5  ...           222          2           0
3  335982  2008-04-18      5  ...           222          2           0
4  335982  2008-04-18      5  ...           222          2           0

[5 rows x 22 columns]

In [174]:
bore.drop(columns = ['extra_runs', 'inning_bat', 'batsman_runs', 'total_runs_x', 'is_wicket'], inplace = True)
bore.head()

       id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  335982  2008-04-18      5  ...           222          1           0
1  335982  2008-04-18      5  ...           222          1           0
2  335982  2008-04-18      5  ...           222          2           0
3  335982  2008-04-18      5  ...           222          2           0
4  335982  2008-04-18      5  ...           222          2           0

[5 rows x 17 columns]

In [175]:
test_set = bore[bore.year == 2013]
test_set.head()

           id        date  team1  ...  total_runs_y  cum_total  cum_wicket
76290  597998  2013-04-03      9  ...           128          0           1
76291  597998  2013-04-03      9  ...           128          4           1
76292  597998  2013-04-03      9  ...           128          5           1
76293  597998  2013-04-03      9  ...           128          5           1
76294  597998  2013-04-03      9  ...           128          5           1

[5 rows x 17 columns]

test_set contains complete IPL data for the year 2013.
we will train the model on the data from the year 2008-2020

In [176]:
print(bore.shape)
bore.tail()

(193096, 17)

             id        date  team1  ...  total_runs_y  cum_total  cum_wicket
193091  1237181  2020-11-10      6  ...           157        154           4
193092  1237181  2020-11-10      6  ...           157        155           4
193093  1237181  2020-11-10      6  ...           157        156           4
193094  1237181  2020-11-10      6  ...           157        156           5
193095  1237181  2020-11-10      6  ...           157        157           5

[5 rows x 17 columns]

In [177]:
bore.drop(bore[bore.year == 2013].index, inplace = True)
print(bore.shape)

(174944, 17)

In [178]:
demo = bore[bore.year == 2013]
demo.head()
#as expected demo is empty.

Empty DataFrame
Columns: [id, date, team1, team2, toss_winner, winner, inning, over, batting_team, bowling_team, year, field, D/L, eliminator?, total_runs_y, cum_total, cum_wicket]
Index: []

In [179]:
# go = bore.copy()
# y2 = go['winner']
# go.drop(columns = ['id', 'date', 'winner'], inplace = True)
# go.head()

In [180]:
go = bore.copy()

In [181]:
y1 = go['winner']
y2 = go['total_runs_y'] 
X = go.drop(columns = ['id', 'date', 'winner', 'total_runs_y','year'])

In [182]:
X.head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      5      9            5       1  ...    0            0          1           0
1      5      9            5       1  ...    0            0          1           0
2      5      9            5       1  ...    0            0          2           0
3      5      9            5       1  ...    0            0          2           0
4      5      9            5       1  ...    0            0          2           0

[5 rows x 12 columns]

In [183]:
test = test_set.copy()
y1_test = test['winner']
y2_test = test['total_runs_y']
X_test = test.drop(columns = ['id', 'date', 'winner', 'total_runs_y','year'])

In [184]:
X_test.reset_index().drop(columns = ['index']).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      9      6            9       1  ...    0            0          0           1
1      9      6            9       1  ...    0            0          4           1
2      9      6            9       1  ...    0            0          5           1
3      9      6            9       1  ...    0            0          5           1
4      9      6            9       1  ...    0            0          5           1

[5 rows x 12 columns]

In [185]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [186]:
%%time
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
# rf.fit(X, y2)

CPU times: user 64 µs, sys: 1e+03 ns, total: 65 µs
Wall time: 69.4 µs

In [187]:
# y_pred = rf.predict(X_test)

In [188]:
# y_pred

In [189]:
def custom_accuracy(y_test,y_pred,thresold):
    right = 0
    l = len(y_pred)
    for i in range(0,l):
        if(abs(y_pred[i]-y_test[i]) <= thresold):
            right += 1
    return ((right/l)*100)

In [190]:
# y2_test

In [191]:
# y_pred = y_pred 
y2_test = y2_test.ravel()
# print("Custom accuracy: {:.3f} %".format(custom_accuracy(y2_test,y_pred,10)))

In [192]:
# print(y_pred)

In [193]:
# print(y2_test[100])
# print(y_pred[100])

In [194]:
# print(y2_test[100])

In [195]:
y2 = y2.ravel()

In [196]:
# y_pred = rf.predict(X)
# print("Custom accuracy: {:.3f} %".format(custom_accuracy(y2,y_pred,10)))

In [197]:
from sklearn.linear_model import LinearRegression

In [198]:
lr = LinearRegression()
lr.fit(X, y2)
y_pred = lr.predict(X_test)
print("Custom accuracy: {:.3f} %".format(custom_accuracy(y2_test,y_pred,10)))

Custom accuracy: 0.463 %

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning:

X has feature names, but LinearRegression was fitted without feature names

In [199]:
from sklearn.svm import SVR

In [200]:
svr = SVR()
# svr.fit(X,y2)
# y_pred = svr.predict(X_test)
# print((custom_accuracy(y2_test,y_pred,10)))

## Ball wise prediction

In [201]:
bb = bore[bore.over == 7.1]
bb.head()

         id        date  team1  ...  total_runs_y  cum_total  cum_wicket
44   335982  2008-04-18      5  ...           222         68           1
170  335982  2008-04-18      5  ...            82         34           4
269  335983  2008-04-19      8  ...           240         62           3
393  335983  2008-04-19      8  ...           207         73           1
516  335984  2008-04-19      6  ...           129         45           3

[5 rows x 17 columns]

In [202]:
bb.shape

(1465, 17)

In [203]:
bb_test = test_set[test_set.over == 7.1]
# bb_test.head()

In [204]:
y1 = bb['winner']
y2 = bb['total_runs_y']
X = bb.drop(columns = ['winner', 'total_runs_y', 'year','id', 'date']).reset_index(drop = True)

In [205]:
y1_test = bb_test['winner']
y2_test = bb_test['total_runs_y']
X_test = bb_test.drop(columns = ['winner', 'total_runs_y', 'year','id', 'date']).reset_index(drop = True)

In [206]:
def accurate(ball, threshold):
  bb = bore[bore.over == ball]
  bb_test = test_set[test_set.over == ball]
  y1 = bb['winner']
  y2 = bb['total_runs_y']
  X = bb.drop(columns = ['winner', 'total_runs_y', 'year','id', 'date']).reset_index(drop = True)
  y1_test = bb_test['winner']
  y2_test = bb_test['total_runs_y']
  X_test = bb_test.drop(columns = ['winner', 'total_runs_y', 'year','id', 'date']).reset_index(drop = True)
  X_trans = sc.fit_transform(X)
  X_trans_test = sc.fit_transform(X_test)
  svr.fit(X_trans,y2)
  y_pred = svr.predict(X_trans_test)
  y2_test = y2_test.ravel()
  print('Accuracy in ball '+str(ball)+' is ' + str(custom_accuracy(y2_test, y_pred, threshold)) + '% in SVR')
  rf.fit(X_trans,y2)
  y_pred = rf.predict(X_trans_test)
  print('Accuracy in ball '+str(ball)+' is ' + str(custom_accuracy(y2_test, y_pred, threshold)) + '% in RF')

In [207]:
# accurate(10.2, 10)

In [208]:
list3 = bore['over'].unique()
list4 = test['over'].unique()
set3 = set(list3)
set4 = set(list4)
for ball in (set3 & set4):
  accurate(ball,12)

Accuracy in ball 0.5 is 32.23684210526316% in SVR
Accuracy in ball 0.5 is 30.263157894736842% in RF
Accuracy in ball 1.1 is 31.57894736842105% in SVR
Accuracy in ball 1.1 is 29.605263157894733% in RF
Accuracy in ball 1.4 is 36.18421052631579% in SVR
Accuracy in ball 1.4 is 26.973684210526315% in RF
Accuracy in ball 1.3 is 35.526315789473685% in SVR
Accuracy in ball 1.3 is 32.23684210526316% in RF
Accuracy in ball 1.2 is 36.18421052631579% in SVR
Accuracy in ball 1.2 is 32.23684210526316% in RF
Accuracy in ball 1.5 is 36.84210526315789% in SVR
Accuracy in ball 1.5 is 32.23684210526316% in RF
Accuracy in ball 1.6 is 36.18421052631579% in SVR
Accuracy in ball 1.6 is 29.605263157894733% in RF
Accuracy in ball 2.1 is 35.526315789473685% in SVR
Accuracy in ball 2.1 is 34.868421052631575% in RF
Accuracy in ball 2.5 is 33.55263157894737% in SVR
Accuracy in ball 2.5 is 32.23684210526316% in RF
Accuracy in ball 4.1 is 33.55263157894737% in SVR
Accuracy in ball 4.1 is 32.23684210526316% in RF
Accuracy in ball 5.1 is 31.57894736842105% in SVR
Accuracy in ball 5.1 is 38.15789473684211% in RF
Accuracy in ball 6.1 is 34.21052631578947% in SVR
Accuracy in ball 6.1 is 36.84210526315789% in RF
Accuracy in ball 3.5 is 34.21052631578947% in SVR
Accuracy in ball 3.5 is 30.263157894736842% in RF
Accuracy in ball 8.1 is 35.333333333333336% in SVR
Accuracy in ball 8.1 is 34.66666666666667% in RF
Accuracy in ball 9.1 is 41.333333333333336% in SVR
Accuracy in ball 9.1 is 38.666666666666664% in RF
Accuracy in ball 10.1 is 42.66666666666667% in SVR
Accuracy in ball 10.1 is 43.333333333333336% in RF
Accuracy in ball 11.1 is 45.33333333333333% in SVR
Accuracy in ball 11.1 is 38.666666666666664% in RF
Accuracy in ball 8.2 is 38.0% in SVR
Accuracy in ball 8.2 is 35.333333333333336% in RF
Accuracy in ball 9.2 is 40.666666666666664% in SVR
Accuracy in ball 9.2 is 44.666666666666664% in RF
Accuracy in ball 10.2 is 42.66666666666667% in SVR
Accuracy in ball 10.2 is 42.0% in RF
Accuracy in ball 11.2 is 45.33333333333333% in SVR
Accuracy in ball 11.2 is 43.333333333333336% in RF
Accuracy in ball 4.5 is 33.55263157894737% in SVR
Accuracy in ball 4.5 is 30.92105263157895% in RF
Accuracy in ball 13.1 is 46.308724832214764% in SVR
Accuracy in ball 13.1 is 42.95302013422819% in RF
Accuracy in ball 14.1 is 47.2972972972973% in SVR
Accuracy in ball 14.1 is 49.32432432432432% in RF
Accuracy in ball 15.1 is 51.35135135135135% in SVR
Accuracy in ball 15.1 is 54.054054054054056% in RF
Accuracy in ball 16.1 is 48.29931972789115% in SVR
Accuracy in ball 16.1 is 53.74149659863946% in RF
Accuracy in ball 5.5 is 34.21052631578947% in SVR
Accuracy in ball 5.5 is 36.18421052631579% in RF
Accuracy in ball 18.1 is 62.40601503759399% in SVR
Accuracy in ball 18.1 is 56.390977443609025% in RF
Accuracy in ball 19.1 is 66.10169491525424% in SVR
Accuracy in ball 19.1 is 66.94915254237289% in RF
Accuracy in ball 6.5 is 32.23684210526316% in SVR
Accuracy in ball 6.5 is 31.57894736842105% in RF
Accuracy in ball 7.5 is 32.89473684210527% in SVR
Accuracy in ball 7.5 is 31.57894736842105% in RF
Accuracy in ball 8.5 is 40.0% in SVR
Accuracy in ball 8.5 is 47.333333333333336% in RF
Accuracy in ball 9.5 is 41.333333333333336% in SVR
Accuracy in ball 9.5 is 40.0% in RF
Accuracy in ball 10.5 is 44.0% in SVR
Accuracy in ball 10.5 is 44.666666666666664% in RF
Accuracy in ball 11.5 is 47.333333333333336% in SVR
Accuracy in ball 11.5 is 46.666666666666664% in RF
Accuracy in ball 12.5 is 48.322147651006716% in SVR
Accuracy in ball 12.5 is 43.624161073825505% in RF
Accuracy in ball 13.5 is 47.651006711409394% in SVR
Accuracy in ball 13.5 is 47.651006711409394% in RF
Accuracy in ball 14.5 is 50.67567567567568% in SVR
Accuracy in ball 14.5 is 51.35135135135135% in RF
Accuracy in ball 15.5 is 48.97959183673469% in SVR
Accuracy in ball 15.5 is 51.70068027210885% in RF
Accuracy in ball 16.4 is 53.74149659863946% in SVR
Accuracy in ball 16.4 is 55.10204081632652% in RF
Accuracy in ball 16.5 is 53.06122448979592% in SVR
Accuracy in ball 16.5 is 56.4625850340136% in RF
Accuracy in ball 16.6 is 51.70068027210885% in SVR
Accuracy in ball 16.6 is 53.06122448979592% in RF
Accuracy in ball 16.9 is 0.0% in SVR
Accuracy in ball 16.9 is 0.0% in RF
Accuracy in ball 17.1 is 49.6551724137931% in SVR
Accuracy in ball 17.1 is 56.55172413793104% in RF
Accuracy in ball 17.4 is 51.77304964539007% in SVR
Accuracy in ball 17.4 is 58.86524822695035% in RF
Accuracy in ball 17.5 is 54.67625899280576% in SVR
Accuracy in ball 17.5 is 61.87050359712231% in RF
Accuracy in ball 17.6 is 59.25925925925925% in SVR
Accuracy in ball 17.6 is 59.25925925925925% in RF
Accuracy in ball 18.4 is 61.240310077519375% in SVR
Accuracy in ball 18.4 is 55.03875968992248% in RF
Accuracy in ball 18.5 is 59.523809523809526% in SVR
Accuracy in ball 18.5 is 55.55555555555556% in RF
Accuracy in ball 18.6 is 64.75409836065575% in SVR
Accuracy in ball 18.6 is 62.295081967213115% in RF
Accuracy in ball 19.4 is 81.65137614678899% in SVR
Accuracy in ball 19.4 is 97.24770642201835% in RF
Accuracy in ball 19.5 is 85.18518518518519% in SVR
Accuracy in ball 19.5 is 99.07407407407408% in RF
Accuracy in ball 19.6 is 83.0% in SVR
Accuracy in ball 19.6 is 99.0% in RF
Accuracy in ball 19.9 is 100.0% in SVR
Accuracy in ball 19.9 is 100.0% in RF
Accuracy in ball 2.4 is 34.21052631578947% in SVR
Accuracy in ball 2.4 is 30.92105263157895% in RF
Accuracy in ball 3.4 is 35.526315789473685% in SVR
Accuracy in ball 3.4 is 36.84210526315789% in RF
Accuracy in ball 0.2 is 28.947368421052634% in SVR
Accuracy in ball 0.2 is 23.026315789473685% in RF
Accuracy in ball 4.4 is 34.21052631578947% in SVR
Accuracy in ball 4.4 is 37.5% in RF
Accuracy in ball 5.4 is 33.55263157894737% in SVR
Accuracy in ball 5.4 is 34.868421052631575% in RF
Accuracy in ball 6.4 is 33.55263157894737% in SVR
Accuracy in ball 6.4 is 33.55263157894737% in RF
Accuracy in ball 6.9 is 0.0% in SVR
Accuracy in ball 6.9 is 0.0% in RF
Accuracy in ball 7.4 is 32.89473684210527% in SVR
Accuracy in ball 7.4 is 31.57894736842105% in RF
Accuracy in ball 8.4 is 38.666666666666664% in SVR
Accuracy in ball 8.4 is 42.66666666666667% in RF
Accuracy in ball 9.4 is 41.333333333333336% in SVR
Accuracy in ball 9.4 is 37.333333333333336% in RF
Accuracy in ball 10.4 is 44.0% in SVR
Accuracy in ball 10.4 is 41.333333333333336% in RF
Accuracy in ball 11.4 is 45.33333333333333% in SVR
Accuracy in ball 11.4 is 44.666666666666664% in RF
Accuracy in ball 11.9 is 0.0% in SVR
Accuracy in ball 11.9 is 0.0% in RF
Accuracy in ball 12.4 is 49.664429530201346% in SVR
Accuracy in ball 12.4 is 44.29530201342282% in RF
Accuracy in ball 13.4 is 47.651006711409394% in SVR
Accuracy in ball 13.4 is 47.651006711409394% in RF
Accuracy in ball 14.4 is 50.0% in SVR
Accuracy in ball 14.4 is 50.67567567567568% in RF
Accuracy in ball 2.3 is 34.21052631578947% in SVR
Accuracy in ball 2.3 is 37.5% in RF
Accuracy in ball 15.4 is 50.34013605442177% in SVR
Accuracy in ball 15.4 is 45.57823129251701% in RF
Accuracy in ball 2.8 is 0.0% in SVR
Accuracy in ball 2.8 is 0.0% in RF
Accuracy in ball 3.3 is 34.21052631578947% in SVR
Accuracy in ball 3.3 is 39.473684210526315% in RF
Accuracy in ball 0.8 is 40.0% in SVR
Accuracy in ball 0.8 is 60.0% in RF
Accuracy in ball 3.8 is 0.0% in SVR
Accuracy in ball 3.8 is 0.0% in RF
Accuracy in ball 4.3 is 33.55263157894737% in SVR
Accuracy in ball 4.3 is 34.868421052631575% in RF
Accuracy in ball 1.8 is 40.0% in SVR
Accuracy in ball 1.8 is 40.0% in RF
Accuracy in ball 4.8 is 100.0% in SVR
Accuracy in ball 4.8 is 0.0% in RF
Accuracy in ball 5.3 is 33.55263157894737% in SVR
Accuracy in ball 5.3 is 38.15789473684211% in RF
Accuracy in ball 5.8 is 33.33333333333333% in SVR
Accuracy in ball 5.8 is 33.33333333333333% in RF
Accuracy in ball 6.3 is 34.868421052631575% in SVR
Accuracy in ball 6.3 is 33.55263157894737% in RF
Accuracy in ball 6.8 is 100.0% in SVR
Accuracy in ball 6.8 is 100.0% in RF
Accuracy in ball 7.3 is 33.55263157894737% in SVR
Accuracy in ball 7.3 is 35.526315789473685% in RF
Accuracy in ball 7.8 is 50.0% in SVR
Accuracy in ball 7.8 is 100.0% in RF
Accuracy in ball 0.4 is 31.57894736842105% in SVR
Accuracy in ball 0.4 is 25.0% in RF
Accuracy in ball 0.6 is 32.23684210526316% in SVR
Accuracy in ball 0.6 is 28.947368421052634% in RF
Accuracy in ball 0.9 is 50.0% in SVR
Accuracy in ball 0.9 is 100.0% in RF
Accuracy in ball 8.3 is 38.666666666666664% in SVR
Accuracy in ball 8.3 is 40.666666666666664% in RF
Accuracy in ball 8.7 is 31.25% in SVR
Accuracy in ball 8.7 is 25.0% in RF
Accuracy in ball 8.8 is 0.0% in SVR
Accuracy in ball 8.8 is 100.0% in RF
Accuracy in ball 9.3 is 41.333333333333336% in SVR
Accuracy in ball 9.3 is 38.666666666666664% in RF
Accuracy in ball 9.7 is 42.10526315789473% in SVR
Accuracy in ball 9.7 is 47.368421052631575% in RF
Accuracy in ball 9.8 is 0.0% in SVR
Accuracy in ball 9.8 is 66.66666666666666% in RF
Accuracy in ball 0.7 is 33.33333333333333% in SVR
Accuracy in ball 0.7 is 36.11111111111111% in RF
Accuracy in ball 18.8 is 0.0% in SVR
Accuracy in ball 18.8 is 50.0% in RF
Accuracy in ball 10.3 is 44.0% in SVR
Accuracy in ball 10.3 is 40.666666666666664% in RF
Accuracy in ball 10.7 is 26.666666666666668% in SVR
Accuracy in ball 10.7 is 26.666666666666668% in RF
Accuracy in ball 10.8 is 33.33333333333333% in SVR
Accuracy in ball 10.8 is 0.0% in RF
Accuracy in ball 1.7 is 23.52941176470588% in SVR
Accuracy in ball 1.7 is 38.23529411764706% in RF
Accuracy in ball 11.3 is 46.666666666666664% in SVR
Accuracy in ball 11.3 is 41.333333333333336% in RF
Accuracy in ball 11.7 is 43.75% in SVR
Accuracy in ball 11.7 is 56.25% in RF
Accuracy in ball 11.8 is 0.0% in SVR
Accuracy in ball 11.8 is 0.0% in RF
Accuracy in ball 12.2 is 46.666666666666664% in SVR
Accuracy in ball 12.2 is 46.666666666666664% in RF
Accuracy in ball 12.3 is 47.333333333333336% in SVR
Accuracy in ball 12.3 is 40.0% in RF
Accuracy in ball 12.7 is 47.05882352941176% in SVR
Accuracy in ball 12.7 is 41.17647058823529% in RF
Accuracy in ball 0.1 is 30.263157894736842% in SVR
Accuracy in ball 0.1 is 22.36842105263158% in RF
Accuracy in ball 12.8 is 50.0% in SVR
Accuracy in ball 12.8 is 0.0% in RF
Accuracy in ball 13.2 is 47.651006711409394% in SVR
Accuracy in ball 13.2 is 43.624161073825505% in RF
Accuracy in ball 13.3 is 46.308724832214764% in SVR
Accuracy in ball 13.3 is 47.651006711409394% in RF
Accuracy in ball 13.7 is 21.052631578947366% in SVR
Accuracy in ball 13.7 is 31.57894736842105% in RF
Accuracy in ball 13.8 is 50.0% in SVR
Accuracy in ball 13.8 is 0.0% in RF
Accuracy in ball 14.2 is 47.97297297297297% in SVR
Accuracy in ball 14.2 is 53.37837837837838% in RF
Accuracy in ball 14.3 is 48.64864864864865% in SVR
Accuracy in ball 14.3 is 50.0% in RF
Accuracy in ball 14.7 is 53.84615384615385% in SVR
Accuracy in ball 14.7 is 50.0% in RF
Accuracy in ball 14.8 is 0.0% in SVR
Accuracy in ball 14.8 is 0.0% in RF
Accuracy in ball 2.2 is 35.526315789473685% in SVR
Accuracy in ball 2.2 is 40.131578947368425% in RF
Accuracy in ball 15.8 is 66.66666666666666% in SVR
Accuracy in ball 15.8 is 0.0% in RF
Accuracy in ball 15.2 is 50.67567567567568% in SVR
Accuracy in ball 15.2 is 47.2972972972973% in RF
Accuracy in ball 15.3 is 51.02040816326531% in SVR
Accuracy in ball 15.3 is 45.57823129251701% in RF
Accuracy in ball 15.7 is 33.33333333333333% in SVR
Accuracy in ball 15.7 is 50.0% in RF
Accuracy in ball 2.7 is 26.47058823529412% in SVR
Accuracy in ball 2.7 is 29.411764705882355% in RF
Accuracy in ball 16.8 is 25.0% in SVR
Accuracy in ball 16.8 is 25.0% in RF
Accuracy in ball 3.2 is 34.21052631578947% in SVR
Accuracy in ball 3.2 is 32.23684210526316% in RF
Accuracy in ball 16.2 is 50.34013605442177% in SVR
Accuracy in ball 16.2 is 53.06122448979592% in RF
Accuracy in ball 16.3 is 52.38095238095239% in SVR
Accuracy in ball 16.3 is 55.10204081632652% in RF
Accuracy in ball 16.7 is 43.75% in SVR
Accuracy in ball 16.7 is 71.875% in RF
Accuracy in ball 17.8 is 60.0% in SVR
Accuracy in ball 17.8 is 60.0% in RF
Accuracy in ball 3.7 is 20.833333333333336% in SVR
Accuracy in ball 3.7 is 29.166666666666668% in RF
Accuracy in ball 4.2 is 32.23684210526316% in SVR
Accuracy in ball 4.2 is 34.868421052631575% in RF
Accuracy in ball 17.2 is 50.0% in SVR
Accuracy in ball 17.2 is 52.083333333333336% in RF
Accuracy in ball 17.3 is 52.816901408450704% in SVR
Accuracy in ball 17.3 is 57.04225352112676% in RF
Accuracy in ball 4.7 is 20.0% in SVR
Accuracy in ball 4.7 is 28.000000000000004% in RF
Accuracy in ball 17.7 is 51.85185185185185% in SVR
Accuracy in ball 17.7 is 85.18518518518519% in RF
Accuracy in ball 5.2 is 31.57894736842105% in SVR
Accuracy in ball 5.2 is 37.5% in RF
Accuracy in ball 18.2 is 59.84848484848485% in SVR
Accuracy in ball 18.2 is 57.57575757575758% in RF
Accuracy in ball 18.3 is 60.0% in SVR
Accuracy in ball 18.3 is 60.0% in RF
Accuracy in ball 5.7 is 34.78260869565217% in SVR
Accuracy in ball 5.7 is 39.130434782608695% in RF
Accuracy in ball 18.7 is 65.21739130434783% in SVR
Accuracy in ball 18.7 is 82.6086956521739% in RF
Accuracy in ball 6.2 is 34.868421052631575% in SVR
Accuracy in ball 6.2 is 32.89473684210527% in RF
Accuracy in ball 19.2 is 75.65217391304347% in SVR
Accuracy in ball 19.2 is 81.73913043478261% in RF
Accuracy in ball 19.3 is 79.27927927927928% in SVR
Accuracy in ball 19.3 is 91.8918918918919% in RF
Accuracy in ball 6.7 is 20.833333333333336% in SVR
Accuracy in ball 6.7 is 29.166666666666668% in RF
Accuracy in ball 7.2 is 32.89473684210527% in SVR
Accuracy in ball 7.2 is 34.21052631578947% in RF
Accuracy in ball 7.7 is 44.44444444444444% in SVR
Accuracy in ball 7.7 is 16.666666666666664% in RF
Accuracy in ball 19.7 is 47.368421052631575% in SVR
Accuracy in ball 19.7 is 15.789473684210526% in RF
Accuracy in ball 19.8 is 40.0% in SVR
Accuracy in ball 19.8 is 80.0% in RF
Accuracy in ball 0.3 is 30.92105263157895% in SVR
Accuracy in ball 0.3 is 25.0% in RF
Accuracy in ball 4.6 is 33.55263157894737% in SVR
Accuracy in ball 4.6 is 35.526315789473685% in RF
Accuracy in ball 5.6 is 35.526315789473685% in SVR
Accuracy in ball 5.6 is 40.131578947368425% in RF
Accuracy in ball 6.6 is 30.92105263157895% in SVR
Accuracy in ball 6.6 is 33.55263157894737% in RF
Accuracy in ball 7.1 is 32.23684210526316% in SVR
Accuracy in ball 7.1 is 37.5% in RF
Accuracy in ball 7.6 is 34.868421052631575% in SVR
Accuracy in ball 7.6 is 36.18421052631579% in RF
Accuracy in ball 8.6 is 38.666666666666664% in SVR
Accuracy in ball 8.6 is 41.333333333333336% in RF
Accuracy in ball 2.6 is 32.89473684210527% in SVR
Accuracy in ball 2.6 is 35.526315789473685% in RF
Accuracy in ball 9.6 is 40.666666666666664% in SVR
Accuracy in ball 9.6 is 40.666666666666664% in RF
Accuracy in ball 3.1 is 34.21052631578947% in SVR
Accuracy in ball 3.1 is 32.89473684210527% in RF
Accuracy in ball 3.6 is 34.868421052631575% in SVR
Accuracy in ball 3.6 is 36.18421052631579% in RF
Accuracy in ball 10.6 is 44.666666666666664% in SVR
Accuracy in ball 10.6 is 46.0% in RF
Accuracy in ball 11.6 is 48.0% in SVR
Accuracy in ball 11.6 is 46.666666666666664% in RF
Accuracy in ball 12.1 is 46.666666666666664% in SVR
Accuracy in ball 12.1 is 46.666666666666664% in RF
Accuracy in ball 12.6 is 45.63758389261745% in SVR
Accuracy in ball 12.6 is 45.63758389261745% in RF
Accuracy in ball 13.6 is 47.651006711409394% in SVR
Accuracy in ball 13.6 is 45.63758389261745% in RF
Accuracy in ball 14.6 is 50.67567567567568% in SVR
Accuracy in ball 14.6 is 47.97297297297297% in RF
Accuracy in ball 15.6 is 49.65986394557823% in SVR
Accuracy in ball 15.6 is 51.02040816326531% in RF

general observation : SVR has higher accuracy for overs greater than 7 while for overs less than 7 RF has a higher accuracy

In [209]:
# list3 = bore['over'].unique()
# list4 = test['over'].unique()
# set3 = set(list3)
# set4 = set(list4)
# for ball in (set3 & set4):
#   accurate(ball,10)

lets run our ML model only for overs between 6 and 15

In [210]:
# bore.drop(bore[bore.year == 2013].index, inplace = True)
# print(bore.shape)
new = go.copy()

In [211]:
new.head()

       id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  335982  2008-04-18      5  ...           222          1           0
1  335982  2008-04-18      5  ...           222          1           0
2  335982  2008-04-18      5  ...           222          2           0
3  335982  2008-04-18      5  ...           222          2           0
4  335982  2008-04-18      5  ...           222          2           0

[5 rows x 17 columns]

In [212]:
t = test_set.copy()

In [213]:
# t.to_csv('t.csv')

In [214]:
t.to_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/t.csv')
new.to_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/new.csv')

In [215]:
new.to_csv('news.csv')

In [216]:
tnew = t.drop(t[(t.over <= 11.0) | (t.over >=16.0)].index)
tnew.reset_index(drop = True)
id_test = tnew['id'].reset_index(drop = True)
id_test = id_test.to_frame().reset_index(drop=True)
y1test = tnew['total_runs_y']
y2test = tnew['winner']
tnew.drop(columns = ['id', 'date', 'year', 'total_runs_y', 'winner'], inplace = True)

In [217]:
id_test

          id
0     597998
1     597998
2     597998
3     597998
4     597998
...      ...
4571  598073
4572  598073
4573  598073
4574  598073
4575  598073

[4576 rows x 1 columns]

In [218]:
tnew.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      9      6            9       1  ...    0            0         76           3
1      9      6            9       1  ...    0            0         77           3
2      9      6            9       1  ...    0            0         78           3
3      9      6            9       1  ...    0            0         79           3
4      9      6            9       1  ...    0            0         79           3

[5 rows x 12 columns]

In [219]:
print(tnew.shape)

(4576, 12)

In [220]:
xnew = new.drop(new[(new.over <= 11.0) | (new.over >=16.0)].index)
xnew.reset_index(drop = True)
y1train = xnew['total_runs_y']
y2train = xnew['winner']
id_train = xnew['id']
xnew.drop(columns = ['id', 'date', 'year', 'total_runs_y', 'winner'], inplace = True)
xnew.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      5      9            5       1  ...    0            0        102           1
1      5      9            5       1  ...    0            0        108           1
2      5      9            5       1  ...    0            0        110           1
3      5      9            5       1  ...    0            0        111           1
4      5      9            5       1  ...    0            0        111           1

[5 rows x 12 columns]

In [221]:
print(xnew.shape)

(43828, 12)

In [222]:
xnewt = sc.fit_transform(xnew) 
tnewt = sc.fit_transform(tnew)

In [223]:
# rf.fit(xnewt, y1train)
# y_pred = rf.predict(tnewt)
# y1test = y1test.ravel()
# print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 10)))

In [224]:
# svr.fit(xnewt, y1train)
# y_pred = svr.predict(tnewt)
y1test = y1test.ravel()
# print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 10)))

In [225]:
# print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 12)))

lets try to improve the accuracy of svr by removing features

In [226]:
xf = xnew.drop(columns = ['D/L', 'eliminator?'])
tf = tnew.drop(columns = ['D/L', 'eliminator?'])

In [227]:
xft = sc.fit_transform(xf) 
tft = sc.fit_transform(tf)

In [228]:
# svr.fit(xft, y1train)
# y_pred = svr.predict(tft)
# y1test = y1test.ravel()
# print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 10)))

In [229]:
# print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 12)))

In [230]:
rf.fit(xft, y1train)
y_pred = rf.predict(tft)
y1test = y1test.ravel()
print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 10)))

Accuracy: 36.1013986013986

In [231]:
print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 12)))

Accuracy: 44.25262237762238

In [232]:
SVR().get_params().keys()

dict_keys(['C', 'cache_size', 'coef0', 'degree', 'epsilon', 'gamma', 'kernel', 'max_iter', 'shrinking', 'tol', 'verbose'])

In [233]:
# from sklearn.model_selection import GridSearchCV
# param_grid_svr = {
#               "C": [10,50,100],
#               "kernel" : ('poly', 'rbf')           
#              }         
# gr_svr = GridSearchCV(SVR(), param_grid_svr, cv=5, verbose=2)
# gr_svr.fit(xft, y1train)

In [234]:
# gr_svr.best_params_

## SVR for prediciting total runs

In [235]:
%%time
svr = SVR(C = 0.3)
svr.fit(xft, y1train)
y_pred = svr.predict(tft)
print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 12)))

Accuracy: 52.381993006993014
CPU times: user 2min 16s, sys: 265 ms, total: 2min 16s
Wall time: 2min 16s

In [236]:
# predictions = model.predict(xs)
sample = pd.DataFrame(y_pred,columns=['Predict'])
sample['Actual']=y1test
sample.head(10)

      Predict  Actual
0  156.873546     128
1  157.524894     128
2  158.174094     128
3  158.819650     128
4  158.260927     128
5  147.848251     128
6  147.248859     128
7  146.604859     128
8  145.949077     128
9  150.372776     128

In [237]:
ar1 = sample['Actual'].unique()
results = pd.DataFrame()
for items in ar1:
  # print(items)
  try2 = sample[sample.Actual == items]
  result = (try2.sum())/try2.shape[0]
  # print(result)
  res = result.values.reshape(1,2)
  # print(res)
  results = results.append(pd.DataFrame(res))

In [238]:
results.rename(columns = {0: 'Predict',
                          1: 'Actual'
                          }, inplace = True)
results.reset_index(drop = True)
print(custom_accuracy(results['Actual'].ravel(),results['Predict'].ravel(),12))

51.19047619047619

In [239]:
tests = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/testset.csv')
# tests.head()
tests.drop(columns = ['Unnamed: 0'], inplace = True)
tt_2021 = tests['id'].reset_index(drop = True)
tt_2021 = tt_2021.to_frame().reset_index(drop = True)
# id_test = tnew['id'].reset_index(drop = True)
# id_test = id_test.to_frame().reset_index(drop=True)
tests.head()

        id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  1254058  2021-04-09     12  ...           159          2           0
1  1254058  2021-04-09     12  ...           159          2           0
2  1254058  2021-04-09     12  ...           159          2           0
3  1254058  2021-04-09     12  ...           159          4           0
4  1254058  2021-04-09     12  ...           159          4           0

[5 rows x 16 columns]

In [240]:
sets = tests.drop(tests[(tests.over <= 11.0) | (tests.over >=16.0)].index)
sets.reset_index(drop = True)
yt1 = sets['total_runs_y']
yt2 = sets['winner']
sets.drop(columns = ['id', 'date', 'total_runs_y', 'winner'], inplace = True)
sets.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0     12      5            5       1  ...    0            0         95           2
1     12      5            5       1  ...    0            0         95           2
2     12      5            5       1  ...    0            0         96           2
3     12      5            5       1  ...    0            0         96           2
4     12      5            5       1  ...    0            0         97           2

[5 rows x 12 columns]

In [241]:
xs = sets.drop(columns = ['D/L', 'eliminator?'])

In [242]:
yt1 = yt1.ravel()
xs = sc.fit_transform(xs)

In [243]:
sets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1297 entries, 68 to 5096
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   team1         1297 non-null   int64
 1   team2         1297 non-null   int64
 2   toss_winner   1297 non-null   int64
 3   inning        1297 non-null   int64
 4   over          1297 non-null   float64
 5   batting_team  1297 non-null   int64
 6   bowling_team  1297 non-null   int64
 7   field         1297 non-null   int64
 8   D/L           1297 non-null   int64
 9   eliminator?   1297 non-null   int64
 10  cum_total     1297 non-null   int64
 11  cum_wicket    1297 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 131.7 KB

In [244]:
y_pred = svr.predict(xs)
sample = pd.DataFrame(y_pred,columns=['Predict'])
sample['Actual']=yt1
sample.head(10)

      Predict  Actual
0  168.487466     159
1  168.473710     159
2  169.035851     159
3  168.985779     159
4  169.521741     159
5  170.044438     159
6  169.941486     159
7  172.243450     159
8  172.651641     159
9  173.041098     159

In [245]:
ar1 = sample['Actual'].unique()
results = pd.DataFrame()
for items in ar1:
  # print(items)
  try2 = sample[sample.Actual == items]
  result = (try2.sum())/try2.shape[0]
  # print(result)
  res = result.values.reshape(1,2)
  # print(res)
  results = results.append(pd.DataFrame(res))

In [246]:
results.rename(columns = {0: 'Predict',
                          1: 'Actual'
                          }, inplace = True)
results.reset_index(drop = True)
print(custom_accuracy(results['Actual'].ravel(),results['Predict'].ravel(),12))

57.14285714285714

In [247]:
# rf.fit(X,y2)
# y_pred = rf.predict(X_test)
# y2_test = y2_test.ravel()
# print('Accuracy: ' + str(custom_accuracy(y2_test, y_pred, 10)))

In [248]:
# X_trans = sc.fit_transform(X)
# X_trans_test = sc.fit_transform(X_test)

In [249]:
# rf.fit(X_trans,y2)
# y_pred = rf.predict(X_trans_test)
# y2_test = y2_test.ravel()
# print('Accuracy: ' + str(custom_accuracy(y2_test, y_pred, 10)))

In [250]:
from sklearn.preprocessing import MinMaxScaler

In [251]:
# mmx = MinMaxScaler()
# X_scale = mmx.fit_transform(X)
# X_scale_test = mmx.fit_transform(X_test)

In [252]:
# rf.fit(X_scale,y2)
# y_pred = rf.predict(X_scale_test)
# y2_test = y2_test.ravel()
# print('Accuracy: ' + str(custom_accuracy(y2_test, y_pred, 10)))

In [253]:
# svr.fit(X_trans, y2)
# y_pred = svr.predict(X_trans_test)
# print('Accuracy: ' + str(custom_accuracy(y2_test, y_pred, 10)))

In [254]:
from sklearn.ensemble import GradientBoostingClassifier

In [255]:
# gbc = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0)
# gbc.fit(X_trans, y2)
# y_pred = gbc.predict(X_trans_test)
# print('Accuracy: ' + str(custom_accuracy(y2_test, y_pred, 12)))

In [256]:
def accuracy_winner(y_test, y_pred):
  right = 0
  l = len(y_pred)
  for i in range(0,1):
    if(abs(y_pred[i]-y_test[i]) <= 0.5):
      right +=1
  return ((right/l)*100)

In [257]:
# def custom_accuracy(y_test,y_pred,thresold):
#     right = 0
#     l = len(y_pred)
#     for i in range(0,l):
#         if(abs(y_pred[i]-y_test[i]) <= thresold):
#             right += 1
#     return ((right/l)*100)

## SVR for predicting winner

In [258]:
svr = SVR(C=0.3)
svr.fit(xft, y2train)
y_pred = svr.predict(tft)
y2test = y2test.ravel()
# print('Accuracy: ' + str(accuracy_winner(y2test, y_pred)))

In [259]:
win = pd.DataFrame(y_pred, columns = ['Predict'])
win['Actual'] = y2test
win.head()

    Predict  Actual
0  8.682427       9
1  8.676513       9
2  8.670418       9
3  8.664194       9
4  8.678908       9

In [260]:
frames = [id_test, win]
final = pd.concat(frames, axis = 1)

ar1 = final['id'].unique()
winner = pd.DataFrame()
for items in ar1:
  # print(items)
  try2 = final[final.id == items]
  # try2.drop(columns = 'id', inplace = True)
  hapi = try2.drop(columns = ['id']).reset_index(drop=True)
  result = (hapi.sum())/hapi.shape[0]
  # print(result)
  res = result.values.reshape(1,2)
  # print(res)
  winner = winner.append(pd.DataFrame(res))

In [261]:
winner.rename(columns = {0: 'Predict',
                          1: 'Actual'
                          }, inplace = True)
winner.reset_index(drop = True)

winner['diff'] = abs(winner['Actual'] - winner['Predict'])
to = winner.shape[0]
print( ((winner[(winner['diff'])<=0.5].shape[0])/to)*100 )

44.0

### Test set winner prediction

In [262]:
y_pred = svr.predict(xs)
yt2 = yt2.ravel()
win = pd.DataFrame(y_pred, columns = ['Predict'])
win['Actual'] = yt2
# win.head()

In [263]:
frames = [tt_2021, win]
final = pd.concat(frames, axis = 1)

ar1 = final['id'].unique()
winner = pd.DataFrame()
for items in ar1:
  # print(items)
  try2 = final[final.id == items]
  # try2.drop(columns = 'id', inplace = True)
  hapi = try2.drop(columns = ['id']).reset_index(drop=True)
  result = (hapi.sum())/hapi.shape[0]
  # print(result)
  res = result.values.reshape(1,2)
  # print(res)
  winner = winner.append(pd.DataFrame(res))

In [264]:
winner.rename(columns = {0: 'Predict',
                          1: 'Actual'
                          }, inplace = True)
winner.reset_index(drop = True)

winner['diff'] = abs(winner['Actual'] - winner['Predict'])
to = winner.shape[0]
print( ((winner[(winner['diff'])<=0.5].shape[0])/to)*100 )

100.0

In [265]:
winner.head()

    Predict    Actual      diff
0  7.560205  7.076000  0.484205
0  9.080639  9.447699  0.367060
0  8.568662  8.471774  0.096888
0  7.293689  7.304348  0.010658
0  8.835506  8.775510  0.059996

In [266]:
# winner.head()
# winner.head()

##RF for predicting winner

In [267]:
rf = RandomForestRegressor()
rf.fit(xft, y2train)
y_pred = rf.predict(tft)
y2test = y2test.ravel()
win = pd.DataFrame(y_pred, columns = ['Predict'])
win['Actual'] = y2test
# win.head()
frames = [id_test, win]
final = pd.concat(frames, axis = 1)

In [268]:
ar1 = final['id'].unique()
winner = pd.DataFrame()
for items in ar1:
  # print(items)
  try2 = final[final.id == items]
  # try2.drop(columns = 'id', inplace = True)
  hapi = try2.drop(columns = ['id']).reset_index(drop=True)
  result = (hapi.sum())/hapi.shape[0]
  # print(result)
  res = result.values.reshape(1,2)
  # print(res)
  winner = winner.append(pd.DataFrame(res))
  
winner.rename(columns = {0: 'Predict',
                          1: 'Actual'
                          }, inplace = True)
winner.reset_index(drop = True)

      Predict  Actual
0    8.942903     9.0
1   11.333403     5.0
2    2.016500     7.0
3    6.164194    10.0
4   11.456885    12.0
..        ...     ...
70   7.798571     7.0
71  11.598722    11.0
72   7.624328    10.0
73  10.476290    12.0
74  11.364918    12.0

[75 rows x 2 columns]

In [269]:
winner['diff'] = abs(winner['Actual'] - winner['Predict'])
to = winner.shape[0]
((winner[(winner['diff'])<=0.5].shape[0])/to)*100

29.333333333333332

In [270]:
winner.head()

     Predict  Actual      diff
0   8.942903     9.0  0.057097
0  11.333403     5.0  6.333403
0   2.016500     7.0  4.983500
0   6.164194    10.0  3.835806
0  11.456885    12.0  0.543115