<a href="https://colab.research.google.com/github/UtkarshAIITB/IPL-Data-Analysis/blob/main/ML_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
ball = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/IPL Ball-by-Ball 2008-2020.csv')
print(ball.shape)
ball.head()

(193468, 18)

       id  inning  ...           batting_team                 bowling_team
0  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 18 columns]

In [4]:
match = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/IPL Matches 2008-2020.csv')
print(match.shape)
match.head()

(816, 17)

       id        city        date  ... method    umpire1         umpire2
0  335982   Bangalore  2008-04-18  ...    NaN  Asad Rauf     RE Koertzen
1  335983  Chandigarh  2008-04-19  ...    NaN  MR Benson      SL Shastri
2  335984       Delhi  2008-04-19  ...    NaN  Aleem Dar  GA Pratapkumar
3  335985      Mumbai  2008-04-20  ...    NaN   SJ Davis       DJ Harper
4  335986     Kolkata  2008-04-20  ...    NaN  BF Bowden     K Hariharan

[5 rows x 17 columns]

In [5]:
df = pd.merge(match , ball, on='id', how = 'right')
print(df.shape)
df.head()

(193468, 34)

       id       city  ...           batting_team                 bowling_team
0  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 34 columns]

In [6]:
df = df.replace(['Rising Pune Supergiant' , 'Rising Pune Supergiants', 'Delhi Daredevils'], ['Pune Warriors' , 'Pune Warriors', 'Delhi Capitals'])

In [7]:
df['year'] = pd.DatetimeIndex(df['date']).year
# data['year'] = pd.DatetimeIndex(data['date']).year
df.head()

       id       city  ...                 bowling_team  year
0  335982  Bangalore  ...  Royal Challengers Bangalore  2008
1  335982  Bangalore  ...  Royal Challengers Bangalore  2008
2  335982  Bangalore  ...  Royal Challengers Bangalore  2008
3  335982  Bangalore  ...  Royal Challengers Bangalore  2008
4  335982  Bangalore  ...  Royal Challengers Bangalore  2008

[5 rows x 35 columns]

In [8]:
columns = ['neutral_venue', 'result', 'result_margin', 'umpire1', 'umpire2', 'batsman', 'non_striker', 'bowler', 'non_boundary', 'dismissal_kind',
           'player_dismissed', 'fielder', 'extras_type', 'player_of_match', 'venue', 'city']
df_run = df.drop(columns = columns)
df_run.head()

       id        date  ...                 bowling_team  year
0  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
1  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
2  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
3  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
4  335982  2008-04-18  ...  Royal Challengers Bangalore  2008

[5 rows x 19 columns]

In [9]:
df_run['method']  = df_run['method'].fillna('Normal')
df_run.head()

       id        date  ...                 bowling_team  year
0  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
1  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
2  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
3  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
4  335982  2008-04-18  ...  Royal Challengers Bangalore  2008

[5 rows x 19 columns]

In [10]:
winner_null = df_run[df_run['winner'].isna()]
df_run = df_run.dropna()

In [11]:
df_sort = df_run.sort_values(by = ['id', 'inning', 'over', 'ball'])
df_sort = df_sort.reset_index()
df_sort = df_sort.drop(columns = 'index')
df_sort.head()

       id        date  ...                 bowling_team  year
0  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
1  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
2  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
3  335982  2008-04-18  ...  Royal Challengers Bangalore  2008
4  335982  2008-04-18  ...  Royal Challengers Bangalore  2008

[5 rows x 19 columns]

In [12]:
dummy_td = pd.get_dummies(df_sort.toss_decision)
df_enc = pd.concat([df_sort, dummy_td], axis = 'columns')                     #encoded toss decisions - field or bat
df_enc = df_enc.drop(columns = ['toss_decision', 'bat'])
# df_enc.head()
dummy_td = pd.get_dummies(df_sort.method)
df_enc = pd.concat([df_enc, dummy_td], axis = 'columns')
df_enc = df_enc.drop(columns = ['method', 'Normal'])                          #encoded method - normal or D/L
# df_enc.head()
dummy_td = pd.get_dummies(df_sort.eliminator)
dummy_td.rename(columns = {'Y': 'eliminator?' }, inplace = True )
df_enc = pd.concat([df_enc, dummy_td], axis = 'columns')
df_enc = df_enc.drop(columns = ['eliminator', 'N'])  
df_enc.head()

       id        date                        team1  ... field D/L eliminator?
0  335982  2008-04-18  Royal Challengers Bangalore  ...     1   0           0
1  335982  2008-04-18  Royal Challengers Bangalore  ...     1   0           0
2  335982  2008-04-18  Royal Challengers Bangalore  ...     1   0           0
3  335982  2008-04-18  Royal Challengers Bangalore  ...     1   0           0
4  335982  2008-04-18  Royal Challengers Bangalore  ...     1   0           0

[5 rows x 19 columns]

In [13]:
df_enc['inning_bat'] = df_enc['id'].astype(str)+(df_enc['batting_team']).astype(str)
df_enc.head()

       id        date  ... eliminator?                   inning_bat
0  335982  2008-04-18  ...           0  335982Kolkata Knight Riders
1  335982  2008-04-18  ...           0  335982Kolkata Knight Riders
2  335982  2008-04-18  ...           0  335982Kolkata Knight Riders
3  335982  2008-04-18  ...           0  335982Kolkata Knight Riders
4  335982  2008-04-18  ...           0  335982Kolkata Knight Riders

[5 rows x 20 columns]

In [14]:
list1 = df_enc['inning_bat'].unique()
df_copy = df_enc.copy()
df_copy = df_copy.groupby(by = ['inning_bat']).sum()['total_runs'].reset_index()
data = pd.merge(left=df_enc, right=df_copy, on='inning_bat', how='right')
print(data.shape)
data.head()

(193096, 21)

        id        date  ...                          inning_bat total_runs_y
0  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
1  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
2  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
3  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
4  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172

[5 rows x 21 columns]

In [15]:
data['over'] = data['over']+ (data['ball'])/10
data.drop(columns = ['ball'], inplace = True)
print(data.shape)
data.head()

(193096, 20)

        id        date  ...                          inning_bat total_runs_y
0  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
1  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
2  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
3  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172
4  1082591  2017-04-05  ...  1082591Royal Challengers Bangalore          172

[5 rows x 20 columns]

In [16]:
df_final = pd.DataFrame()
for bat in list1:
  inning  = data[data['inning_bat']==bat].copy()
  # inning.head()
  cum_total  = inning.loc[:,'total_runs_x'].cumsum(axis = 0)
  inning['cum_total'] = cum_total
  cum_wicket = inning.loc[:,'is_wicket'].cumsum(axis = 0)
  inning['cum_wicket'] = cum_wicket
  # inning.head()
  df_final = df_final.append(inning, ignore_index=True)

In [17]:
df_final.head()

       id        date  ... cum_total cum_wicket
0  335982  2008-04-18  ...         1          0
1  335982  2008-04-18  ...         1          0
2  335982  2008-04-18  ...         2          0
3  335982  2008-04-18  ...         2          0
4  335982  2008-04-18  ...         2          0

[5 rows x 22 columns]

In [18]:
team_dict = {'Mumbai Indians':12, 'Chennai Super Kings':11, 'Rajasthan Royals':10, 'Kolkata Knight Riders':9, 'Kings XI Punjab':8,
             'Sunrisers Hyderabad':7, 'Delhi Capitals':6, 'Royal Challengers Bangalore':5, 'Gujarat Lions':4, 'Deccan Chargers':3,
             'Pune Warriors':2, 'Kochi Tuskers Kerala':1
             }

In [19]:
bore = df_final.copy()
bore['team1'] = bore.team1.map(team_dict)
bore['team2'] = bore.team2.map(team_dict)
bore['toss_winner'] = bore.toss_winner.map(team_dict)
bore['winner'] = bore.winner.map(team_dict)
bore['batting_team'] = bore.batting_team.map(team_dict)
bore['bowling_team'] = bore.bowling_team.map(team_dict)
bore.head()

       id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  335982  2008-04-18      5  ...           222          1           0
1  335982  2008-04-18      5  ...           222          1           0
2  335982  2008-04-18      5  ...           222          2           0
3  335982  2008-04-18      5  ...           222          2           0
4  335982  2008-04-18      5  ...           222          2           0

[5 rows x 22 columns]

In [20]:
bore.drop(columns = ['extra_runs', 'inning_bat', 'batsman_runs', 'total_runs_x', 'is_wicket'], inplace = True)
bore.head()

       id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  335982  2008-04-18      5  ...           222          1           0
1  335982  2008-04-18      5  ...           222          1           0
2  335982  2008-04-18      5  ...           222          2           0
3  335982  2008-04-18      5  ...           222          2           0
4  335982  2008-04-18      5  ...           222          2           0

[5 rows x 17 columns]

In [21]:
test_set = bore[bore.year == 2013]
test_set.head()

           id        date  team1  ...  total_runs_y  cum_total  cum_wicket
76290  597998  2013-04-03      9  ...           128          0           1
76291  597998  2013-04-03      9  ...           128          4           1
76292  597998  2013-04-03      9  ...           128          5           1
76293  597998  2013-04-03      9  ...           128          5           1
76294  597998  2013-04-03      9  ...           128          5           1

[5 rows x 17 columns]

test_set contains complete IPL data for the year 2013.
we will train the model on the data from the year 2008-2020

In [22]:
print(bore.shape)
bore.tail()

(193096, 17)

             id        date  team1  ...  total_runs_y  cum_total  cum_wicket
193091  1237181  2020-11-10      6  ...           157        154           4
193092  1237181  2020-11-10      6  ...           157        155           4
193093  1237181  2020-11-10      6  ...           157        156           4
193094  1237181  2020-11-10      6  ...           157        156           5
193095  1237181  2020-11-10      6  ...           157        157           5

[5 rows x 17 columns]

In [23]:
bore.drop(bore[bore.year == 2013].index, inplace = True)
print(bore.shape)

(174944, 17)

In [24]:
demo = bore[bore.year == 2013]
demo.head()
#as expected demo is empty.

Empty DataFrame
Columns: [id, date, team1, team2, toss_winner, winner, inning, over, batting_team, bowling_team, year, field, D/L, eliminator?, total_runs_y, cum_total, cum_wicket]
Index: []

In [25]:
# go = bore.copy()
# y2 = go['winner']
# go.drop(columns = ['id', 'date', 'winner'], inplace = True)
# go.head()

In [26]:
go = bore.copy()

In [27]:
y1 = go['winner']
y2 = go['total_runs_y'] 
X = go.drop(columns = ['id', 'date', 'winner', 'total_runs_y','year'])

In [28]:
X.head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      5      9            5       1  ...    0            0          1           0
1      5      9            5       1  ...    0            0          1           0
2      5      9            5       1  ...    0            0          2           0
3      5      9            5       1  ...    0            0          2           0
4      5      9            5       1  ...    0            0          2           0

[5 rows x 12 columns]

In [29]:
test = test_set.copy()
y1_test = test['winner']
y2_test = test['total_runs_y']
X_test = test.drop(columns = ['id', 'date', 'winner', 'total_runs_y','year'])

In [30]:
X_test.reset_index().drop(columns = ['index']).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      9      6            9       1  ...    0            0          0           1
1      9      6            9       1  ...    0            0          4           1
2      9      6            9       1  ...    0            0          5           1
3      9      6            9       1  ...    0            0          5           1
4      9      6            9       1  ...    0            0          5           1

[5 rows x 12 columns]

In [31]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [32]:
%%time
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X, y2)

CPU times: user 1min 6s, sys: 647 ms, total: 1min 6s
Wall time: 1min 6s

In [33]:
y_pred = rf.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning:

X has feature names, but RandomForestRegressor was fitted without feature names

In [34]:
y_pred

array([151.29, 238.85, 238.85, ..., 238.  , 238.  , 238.  ])

In [35]:
def custom_accuracy(y_test,y_pred,thresold):
    right = 0
    l = len(y_pred)
    for i in range(0,l):
        if(abs(y_pred[i]-y_test[i]) <= thresold):
            right += 1
    return ((right/l)*100)

In [36]:
# y2_test

In [37]:
y_pred = y_pred 
y2_test = y2_test.ravel()
print("Custom accuracy: {:.3f} %".format(custom_accuracy(y2_test,y_pred,10)))

Custom accuracy: 0.661 %

In [38]:
print(y_pred)

[151.29 238.85 238.85 ... 238.   238.   238.  ]

In [39]:
# print(y2_test[100])
# print(y_pred[100])

In [40]:
# print(y2_test[100])

In [41]:
y2 = y2.ravel()

In [42]:
y_pred = rf.predict(X)
print("Custom accuracy: {:.3f} %".format(custom_accuracy(y2,y_pred,10)))

Custom accuracy: 96.566 %

In [43]:
from sklearn.linear_model import LinearRegression

In [44]:
lr = LinearRegression()
lr.fit(X, y2)
y_pred = rf.predict(X_test)
print("Custom accuracy: {:.3f} %".format(custom_accuracy(y2_test,y_pred,10)))

Custom accuracy: 0.661 %

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning:

X has feature names, but RandomForestRegressor was fitted without feature names

In [45]:
from sklearn.svm import SVR

In [46]:
svr = SVR()
# svr.fit(X,y2)
# y_pred = svr.predict(X_test)
# print((custom_accuracy(y2_test,y_pred,10)))

## Ball wise prediction

In [47]:
bb = bore[bore.over == 7.1]
bb.head()

         id        date  team1  ...  total_runs_y  cum_total  cum_wicket
44   335982  2008-04-18      5  ...           222         68           1
170  335982  2008-04-18      5  ...            82         34           4
269  335983  2008-04-19      8  ...           240         62           3
393  335983  2008-04-19      8  ...           207         73           1
516  335984  2008-04-19      6  ...           129         45           3

[5 rows x 17 columns]

In [48]:
bb.shape

(1465, 17)

In [49]:
bb_test = test_set[test_set.over == 7.1]
# bb_test.head()

In [50]:
y1 = bb['winner']
y2 = bb['total_runs_y']
X = bb.drop(columns = ['winner', 'total_runs_y', 'year','id', 'date']).reset_index(drop = True)

In [51]:
y1_test = bb_test['winner']
y2_test = bb_test['total_runs_y']
X_test = bb_test.drop(columns = ['winner', 'total_runs_y', 'year','id', 'date']).reset_index(drop = True)

In [52]:
def accurate(ball, threshold):
  bb = bore[bore.over == ball]
  bb_test = test_set[test_set.over == ball]
  y1 = bb['winner']
  y2 = bb['total_runs_y']
  X = bb.drop(columns = ['winner', 'total_runs_y', 'year','id', 'date']).reset_index(drop = True)
  y1_test = bb_test['winner']
  y2_test = bb_test['total_runs_y']
  X_test = bb_test.drop(columns = ['winner', 'total_runs_y', 'year','id', 'date']).reset_index(drop = True)
  X_trans = sc.fit_transform(X)
  X_trans_test = sc.fit_transform(X_test)
  svr.fit(X_trans,y2)
  y_pred = svr.predict(X_trans_test)
  y2_test = y2_test.ravel()
  print('Accuracy in ball '+str(ball)+' is ' + str(custom_accuracy(y2_test, y_pred, threshold)) + '% in SVR')
  rf.fit(X_trans,y2)
  y_pred = rf.predict(X_trans_test)
  print('Accuracy in ball '+str(ball)+' is ' + str(custom_accuracy(y2_test, y_pred, threshold)) + '% in RF')

In [53]:
# accurate(10.2, 10)

In [54]:
list3 = bore['over'].unique()
list4 = test['over'].unique()
set3 = set(list3)
set4 = set(list4)
for ball in (set3 & set4):
  accurate(ball,10)

Accuracy in ball 0.5 is 27.631578947368425% in SVR
Accuracy in ball 0.5 is 25.657894736842106% in RF
Accuracy in ball 1.1 is 26.973684210526315% in SVR
Accuracy in ball 1.1 is 21.710526315789476% in RF
Accuracy in ball 1.4 is 28.947368421052634% in SVR
Accuracy in ball 1.4 is 20.394736842105264% in RF
Accuracy in ball 1.3 is 28.289473684210524% in SVR
Accuracy in ball 1.3 is 25.657894736842106% in RF
Accuracy in ball 1.2 is 29.605263157894733% in SVR
Accuracy in ball 1.2 is 23.684210526315788% in RF
Accuracy in ball 1.5 is 30.263157894736842% in SVR
Accuracy in ball 1.5 is 26.31578947368421% in RF
Accuracy in ball 1.6 is 28.289473684210524% in SVR
Accuracy in ball 1.6 is 25.0% in RF
Accuracy in ball 2.1 is 30.92105263157895% in SVR
Accuracy in ball 2.1 is 26.973684210526315% in RF
Accuracy in ball 2.5 is 28.289473684210524% in SVR
Accuracy in ball 2.5 is 28.289473684210524% in RF
Accuracy in ball 4.1 is 28.947368421052634% in SVR
Accuracy in ball 4.1 is 27.631578947368425% in RF
Accuracy in ball 5.1 is 27.631578947368425% in SVR
Accuracy in ball 5.1 is 28.947368421052634% in RF
Accuracy in ball 6.1 is 27.631578947368425% in SVR
Accuracy in ball 6.1 is 33.55263157894737% in RF
Accuracy in ball 3.5 is 30.92105263157895% in SVR
Accuracy in ball 3.5 is 30.263157894736842% in RF
Accuracy in ball 8.1 is 32.666666666666664% in SVR
Accuracy in ball 8.1 is 30.666666666666664% in RF
Accuracy in ball 9.1 is 36.0% in SVR
Accuracy in ball 9.1 is 29.333333333333332% in RF
Accuracy in ball 10.1 is 35.333333333333336% in SVR
Accuracy in ball 10.1 is 38.0% in RF
Accuracy in ball 11.1 is 40.666666666666664% in SVR
Accuracy in ball 11.1 is 39.33333333333333% in RF
Accuracy in ball 8.2 is 34.66666666666667% in SVR
Accuracy in ball 8.2 is 26.0% in RF
Accuracy in ball 9.2 is 36.666666666666664% in SVR
Accuracy in ball 9.2 is 31.333333333333336% in RF
Accuracy in ball 10.2 is 36.666666666666664% in SVR
Accuracy in ball 10.2 is 36.0% in RF
Accuracy in ball 11.2 is 41.333333333333336% in SVR
Accuracy in ball 11.2 is 38.0% in RF
Accuracy in ball 4.5 is 30.263157894736842% in SVR
Accuracy in ball 4.5 is 27.631578947368425% in RF
Accuracy in ball 13.1 is 41.61073825503356% in SVR
Accuracy in ball 13.1 is 37.58389261744966% in RF
Accuracy in ball 14.1 is 43.24324324324324% in SVR
Accuracy in ball 14.1 is 39.86486486486486% in RF
Accuracy in ball 15.1 is 41.891891891891895% in SVR
Accuracy in ball 15.1 is 42.567567567567565% in RF
Accuracy in ball 16.1 is 44.21768707482993% in SVR
Accuracy in ball 16.1 is 44.89795918367347% in RF
Accuracy in ball 5.5 is 26.31578947368421% in SVR
Accuracy in ball 5.5 is 26.31578947368421% in RF
Accuracy in ball 18.1 is 51.127819548872175% in SVR
Accuracy in ball 18.1 is 46.616541353383454% in RF
Accuracy in ball 19.1 is 59.32203389830508% in SVR
Accuracy in ball 19.1 is 53.38983050847458% in RF
Accuracy in ball 6.5 is 26.31578947368421% in SVR
Accuracy in ball 6.5 is 25.0% in RF
Accuracy in ball 7.5 is 30.92105263157895% in SVR
Accuracy in ball 7.5 is 23.684210526315788% in RF
Accuracy in ball 8.5 is 33.33333333333333% in SVR
Accuracy in ball 8.5 is 38.666666666666664% in RF
Accuracy in ball 9.5 is 38.0% in SVR
Accuracy in ball 9.5 is 30.666666666666664% in RF
Accuracy in ball 10.5 is 40.0% in SVR
Accuracy in ball 10.5 is 39.33333333333333% in RF
Accuracy in ball 11.5 is 41.333333333333336% in SVR
Accuracy in ball 11.5 is 39.33333333333333% in RF
Accuracy in ball 12.5 is 40.939597315436245% in SVR
Accuracy in ball 12.5 is 37.58389261744966% in RF
Accuracy in ball 13.5 is 42.95302013422819% in SVR
Accuracy in ball 13.5 is 38.25503355704698% in RF
Accuracy in ball 14.5 is 42.567567567567565% in SVR
Accuracy in ball 14.5 is 43.91891891891892% in RF
Accuracy in ball 15.5 is 40.816326530612244% in SVR
Accuracy in ball 15.5 is 36.734693877551024% in RF
Accuracy in ball 16.4 is 44.89795918367347% in SVR
Accuracy in ball 16.4 is 53.06122448979592% in RF
Accuracy in ball 16.5 is 44.89795918367347% in SVR
Accuracy in ball 16.5 is 45.57823129251701% in RF
Accuracy in ball 16.6 is 46.93877551020408% in SVR
Accuracy in ball 16.6 is 44.89795918367347% in RF
Accuracy in ball 16.9 is 0.0% in SVR
Accuracy in ball 16.9 is 0.0% in RF
Accuracy in ball 17.1 is 46.206896551724135% in SVR
Accuracy in ball 17.1 is 46.89655172413793% in RF
Accuracy in ball 17.4 is 47.5177304964539% in SVR
Accuracy in ball 17.4 is 47.5177304964539% in RF
Accuracy in ball 17.5 is 48.201438848920866% in SVR
Accuracy in ball 17.5 is 48.92086330935252% in RF
Accuracy in ball 17.6 is 48.148148148148145% in SVR
Accuracy in ball 17.6 is 48.888888888888886% in RF
Accuracy in ball 18.4 is 53.48837209302325% in SVR
Accuracy in ball 18.4 is 43.41085271317829% in RF
Accuracy in ball 18.5 is 51.587301587301596% in SVR
Accuracy in ball 18.5 is 44.44444444444444% in RF
Accuracy in ball 18.6 is 52.459016393442624% in SVR
Accuracy in ball 18.6 is 50.81967213114754% in RF
Accuracy in ball 19.4 is 72.47706422018348% in SVR
Accuracy in ball 19.4 is 88.07339449541286% in RF
Accuracy in ball 19.5 is 77.77777777777779% in SVR
Accuracy in ball 19.5 is 93.51851851851852% in RF
Accuracy in ball 19.6 is 74.0% in SVR
Accuracy in ball 19.6 is 91.0% in RF
Accuracy in ball 19.9 is 100.0% in SVR
Accuracy in ball 19.9 is 100.0% in RF
Accuracy in ball 2.4 is 27.631578947368425% in SVR
Accuracy in ball 2.4 is 22.36842105263158% in RF
Accuracy in ball 3.4 is 30.263157894736842% in SVR
Accuracy in ball 3.4 is 31.57894736842105% in RF
Accuracy in ball 0.2 is 26.31578947368421% in SVR
Accuracy in ball 0.2 is 17.763157894736842% in RF
Accuracy in ball 4.4 is 28.947368421052634% in SVR
Accuracy in ball 4.4 is 33.55263157894737% in RF
Accuracy in ball 5.4 is 26.973684210526315% in SVR
Accuracy in ball 5.4 is 30.263157894736842% in RF
Accuracy in ball 6.4 is 26.31578947368421% in SVR
Accuracy in ball 6.4 is 25.657894736842106% in RF
Accuracy in ball 6.9 is 0.0% in SVR
Accuracy in ball 6.9 is 0.0% in RF
Accuracy in ball 7.4 is 28.289473684210524% in SVR
Accuracy in ball 7.4 is 27.631578947368425% in RF
Accuracy in ball 8.4 is 33.33333333333333% in SVR
Accuracy in ball 8.4 is 35.333333333333336% in RF
Accuracy in ball 9.4 is 36.666666666666664% in SVR
Accuracy in ball 9.4 is 33.33333333333333% in RF
Accuracy in ball 10.4 is 38.666666666666664% in SVR
Accuracy in ball 10.4 is 34.66666666666667% in RF
Accuracy in ball 11.4 is 41.333333333333336% in SVR
Accuracy in ball 11.4 is 40.0% in RF
Accuracy in ball 11.9 is 0.0% in SVR
Accuracy in ball 11.9 is 0.0% in RF
Accuracy in ball 12.4 is 41.61073825503356% in SVR
Accuracy in ball 12.4 is 36.241610738255034% in RF
Accuracy in ball 13.4 is 42.281879194630875% in SVR
Accuracy in ball 13.4 is 42.95302013422819% in RF
Accuracy in ball 14.4 is 42.567567567567565% in SVR
Accuracy in ball 14.4 is 47.2972972972973% in RF
Accuracy in ball 2.3 is 28.947368421052634% in SVR
Accuracy in ball 2.3 is 30.92105263157895% in RF
Accuracy in ball 15.4 is 41.49659863945578% in SVR
Accuracy in ball 15.4 is 36.734693877551024% in RF
Accuracy in ball 2.8 is 0.0% in SVR
Accuracy in ball 2.8 is 0.0% in RF
Accuracy in ball 3.3 is 29.605263157894733% in SVR
Accuracy in ball 3.3 is 32.23684210526316% in RF
Accuracy in ball 0.8 is 40.0% in SVR
Accuracy in ball 0.8 is 40.0% in RF
Accuracy in ball 3.8 is 0.0% in SVR
Accuracy in ball 3.8 is 0.0% in RF
Accuracy in ball 4.3 is 29.605263157894733% in SVR
Accuracy in ball 4.3 is 33.55263157894737% in RF
Accuracy in ball 1.8 is 40.0% in SVR
Accuracy in ball 1.8 is 40.0% in RF
Accuracy in ball 4.8 is 100.0% in SVR
Accuracy in ball 4.8 is 0.0% in RF
Accuracy in ball 5.3 is 28.289473684210524% in SVR
Accuracy in ball 5.3 is 28.947368421052634% in RF
Accuracy in ball 5.8 is 33.33333333333333% in SVR
Accuracy in ball 5.8 is 33.33333333333333% in RF
Accuracy in ball 6.3 is 25.657894736842106% in SVR
Accuracy in ball 6.3 is 28.289473684210524% in RF
Accuracy in ball 6.8 is 100.0% in SVR
Accuracy in ball 6.8 is 100.0% in RF
Accuracy in ball 7.3 is 29.605263157894733% in SVR
Accuracy in ball 7.3 is 28.947368421052634% in RF
Accuracy in ball 7.8 is 50.0% in SVR
Accuracy in ball 7.8 is 100.0% in RF
Accuracy in ball 0.4 is 26.973684210526315% in SVR
Accuracy in ball 0.4 is 16.447368421052634% in RF
Accuracy in ball 0.6 is 26.973684210526315% in SVR
Accuracy in ball 0.6 is 21.710526315789476% in RF
Accuracy in ball 0.9 is 0.0% in SVR
Accuracy in ball 0.9 is 100.0% in RF
Accuracy in ball 8.3 is 34.0% in SVR
Accuracy in ball 8.3 is 36.0% in RF
Accuracy in ball 8.7 is 31.25% in SVR
Accuracy in ball 8.7 is 18.75% in RF
Accuracy in ball 8.8 is 0.0% in SVR
Accuracy in ball 8.8 is 0.0% in RF
Accuracy in ball 9.3 is 36.0% in SVR
Accuracy in ball 9.3 is 30.0% in RF
Accuracy in ball 9.7 is 26.31578947368421% in SVR
Accuracy in ball 9.7 is 26.31578947368421% in RF
Accuracy in ball 9.8 is 0.0% in SVR
Accuracy in ball 9.8 is 66.66666666666666% in RF
Accuracy in ball 0.7 is 30.555555555555557% in SVR
Accuracy in ball 0.7 is 25.0% in RF
Accuracy in ball 18.8 is 0.0% in SVR
Accuracy in ball 18.8 is 50.0% in RF
Accuracy in ball 10.3 is 38.0% in SVR
Accuracy in ball 10.3 is 36.666666666666664% in RF
Accuracy in ball 10.7 is 20.0% in SVR
Accuracy in ball 10.7 is 26.666666666666668% in RF
Accuracy in ball 10.8 is 33.33333333333333% in SVR
Accuracy in ball 10.8 is 0.0% in RF
Accuracy in ball 1.7 is 20.588235294117645% in SVR
Accuracy in ball 1.7 is 29.411764705882355% in RF
Accuracy in ball 11.3 is 41.333333333333336% in SVR
Accuracy in ball 11.3 is 38.666666666666664% in RF
Accuracy in ball 11.7 is 37.5% in SVR
Accuracy in ball 11.7 is 50.0% in RF
Accuracy in ball 11.8 is 0.0% in SVR
Accuracy in ball 11.8 is 0.0% in RF
Accuracy in ball 12.2 is 41.333333333333336% in SVR
Accuracy in ball 12.2 is 38.666666666666664% in RF
Accuracy in ball 12.3 is 42.0% in SVR
Accuracy in ball 12.3 is 38.666666666666664% in RF
Accuracy in ball 12.7 is 41.17647058823529% in SVR
Accuracy in ball 12.7 is 23.52941176470588% in RF
Accuracy in ball 0.1 is 26.31578947368421% in SVR
Accuracy in ball 0.1 is 18.421052631578945% in RF
Accuracy in ball 12.8 is 50.0% in SVR
Accuracy in ball 12.8 is 0.0% in RF
Accuracy in ball 13.2 is 42.281879194630875% in SVR
Accuracy in ball 13.2 is 36.91275167785235% in RF
Accuracy in ball 13.3 is 41.61073825503356% in SVR
Accuracy in ball 13.3 is 37.58389261744966% in RF
Accuracy in ball 13.7 is 21.052631578947366% in SVR
Accuracy in ball 13.7 is 15.789473684210526% in RF
Accuracy in ball 13.8 is 50.0% in SVR
Accuracy in ball 13.8 is 0.0% in RF
Accuracy in ball 14.2 is 44.5945945945946% in SVR
Accuracy in ball 14.2 is 41.891891891891895% in RF
Accuracy in ball 14.3 is 41.891891891891895% in SVR
Accuracy in ball 14.3 is 41.21621621621622% in RF
Accuracy in ball 14.7 is 46.15384615384615% in SVR
Accuracy in ball 14.7 is 42.30769230769231% in RF
Accuracy in ball 14.8 is 0.0% in SVR
Accuracy in ball 14.8 is 0.0% in RF
Accuracy in ball 2.2 is 28.947368421052634% in SVR
Accuracy in ball 2.2 is 32.23684210526316% in RF
Accuracy in ball 15.8 is 33.33333333333333% in SVR
Accuracy in ball 15.8 is 0.0% in RF
Accuracy in ball 15.2 is 43.24324324324324% in SVR
Accuracy in ball 15.2 is 40.54054054054054% in RF
Accuracy in ball 15.3 is 42.857142857142854% in SVR
Accuracy in ball 15.3 is 36.054421768707485% in RF
Accuracy in ball 15.7 is 29.166666666666668% in SVR
Accuracy in ball 15.7 is 41.66666666666667% in RF
Accuracy in ball 2.7 is 20.588235294117645% in SVR
Accuracy in ball 2.7 is 17.647058823529413% in RF
Accuracy in ball 16.8 is 25.0% in SVR
Accuracy in ball 16.8 is 25.0% in RF
Accuracy in ball 3.2 is 30.263157894736842% in SVR
Accuracy in ball 3.2 is 30.92105263157895% in RF
Accuracy in ball 16.2 is 44.21768707482993% in SVR
Accuracy in ball 16.2 is 46.25850340136054% in RF
Accuracy in ball 16.3 is 43.53741496598639% in SVR
Accuracy in ball 16.3 is 47.61904761904761% in RF
Accuracy in ball 16.7 is 34.375% in SVR
Accuracy in ball 16.7 is 56.25% in RF
Accuracy in ball 17.8 is 60.0% in SVR
Accuracy in ball 17.8 is 60.0% in RF
Accuracy in ball 3.7 is 20.833333333333336% in SVR
Accuracy in ball 3.7 is 33.33333333333333% in RF
Accuracy in ball 4.2 is 28.947368421052634% in SVR
Accuracy in ball 4.2 is 30.92105263157895% in RF
Accuracy in ball 17.2 is 45.83333333333333% in SVR
Accuracy in ball 17.2 is 43.75% in RF
Accuracy in ball 17.3 is 47.88732394366197% in SVR
Accuracy in ball 17.3 is 46.478873239436616% in RF
Accuracy in ball 4.7 is 16.0% in SVR
Accuracy in ball 4.7 is 28.000000000000004% in RF
Accuracy in ball 17.7 is 48.148148148148145% in SVR
Accuracy in ball 17.7 is 74.07407407407408% in RF
Accuracy in ball 5.2 is 28.289473684210524% in SVR
Accuracy in ball 5.2 is 30.263157894736842% in RF
Accuracy in ball 18.2 is 52.27272727272727% in SVR
Accuracy in ball 18.2 is 43.93939393939394% in RF
Accuracy in ball 18.3 is 56.15384615384615% in SVR
Accuracy in ball 18.3 is 46.15384615384615% in RF
Accuracy in ball 5.7 is 30.434782608695656% in SVR
Accuracy in ball 5.7 is 30.434782608695656% in RF
Accuracy in ball 18.7 is 60.86956521739131% in SVR
Accuracy in ball 18.7 is 73.91304347826086% in RF
Accuracy in ball 6.2 is 26.31578947368421% in SVR
Accuracy in ball 6.2 is 24.342105263157894% in RF
Accuracy in ball 19.2 is 63.47826086956522% in SVR
Accuracy in ball 19.2 is 66.08695652173913% in RF
Accuracy in ball 19.3 is 71.17117117117117% in SVR
Accuracy in ball 19.3 is 75.67567567567568% in RF
Accuracy in ball 6.7 is 20.833333333333336% in SVR
Accuracy in ball 6.7 is 29.166666666666668% in RF
Accuracy in ball 7.2 is 27.631578947368425% in SVR
Accuracy in ball 7.2 is 26.973684210526315% in RF
Accuracy in ball 7.7 is 27.77777777777778% in SVR
Accuracy in ball 7.7 is 16.666666666666664% in RF
Accuracy in ball 19.7 is 36.84210526315789% in SVR
Accuracy in ball 19.7 is 10.526315789473683% in RF
Accuracy in ball 19.8 is 40.0% in SVR
Accuracy in ball 19.8 is 60.0% in RF
Accuracy in ball 0.3 is 27.631578947368425% in SVR
Accuracy in ball 0.3 is 21.710526315789476% in RF
Accuracy in ball 4.6 is 29.605263157894733% in SVR
Accuracy in ball 4.6 is 28.947368421052634% in RF
Accuracy in ball 5.6 is 28.947368421052634% in SVR
Accuracy in ball 5.6 is 31.57894736842105% in RF
Accuracy in ball 6.6 is 26.973684210526315% in SVR
Accuracy in ball 6.6 is 26.31578947368421% in RF
Accuracy in ball 7.1 is 27.631578947368425% in SVR
Accuracy in ball 7.1 is 32.23684210526316% in RF
Accuracy in ball 7.6 is 30.92105263157895% in SVR
Accuracy in ball 7.6 is 26.973684210526315% in RF
Accuracy in ball 8.6 is 34.66666666666667% in SVR
Accuracy in ball 8.6 is 34.66666666666667% in RF
Accuracy in ball 2.6 is 27.631578947368425% in SVR
Accuracy in ball 2.6 is 32.23684210526316% in RF
Accuracy in ball 9.6 is 37.333333333333336% in SVR
Accuracy in ball 9.6 is 35.333333333333336% in RF
Accuracy in ball 3.1 is 28.289473684210524% in SVR
Accuracy in ball 3.1 is 26.973684210526315% in RF
Accuracy in ball 3.6 is 28.947368421052634% in SVR
Accuracy in ball 3.6 is 30.92105263157895% in RF
Accuracy in ball 10.6 is 40.666666666666664% in SVR
Accuracy in ball 10.6 is 40.666666666666664% in RF
Accuracy in ball 11.6 is 41.333333333333336% in SVR
Accuracy in ball 11.6 is 40.0% in RF
Accuracy in ball 12.1 is 40.666666666666664% in SVR
Accuracy in ball 12.1 is 38.666666666666664% in RF
Accuracy in ball 12.6 is 40.939597315436245% in SVR
Accuracy in ball 12.6 is 38.92617449664429% in RF
Accuracy in ball 13.6 is 42.281879194630875% in SVR
Accuracy in ball 13.6 is 41.61073825503356% in RF
Accuracy in ball 14.6 is 41.891891891891895% in SVR
Accuracy in ball 14.6 is 37.16216216216216% in RF
Accuracy in ball 15.6 is 44.21768707482993% in SVR
Accuracy in ball 15.6 is 45.57823129251701% in RF

general observation : SVR has higher accuracy for overs greater than 7 while for overs less than 7 RF has a higher accuracy

In [55]:
# list3 = bore['over'].unique()
# list4 = test['over'].unique()
# set3 = set(list3)
# set4 = set(list4)
# for ball in (set3 & set4):
#   accurate(ball,10)

lets run our ML model only for overs between 6 and 15

In [56]:
# bore.drop(bore[bore.year == 2013].index, inplace = True)
# print(bore.shape)
new = go.copy()

In [57]:
new.head()

       id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  335982  2008-04-18      5  ...           222          1           0
1  335982  2008-04-18      5  ...           222          1           0
2  335982  2008-04-18      5  ...           222          2           0
3  335982  2008-04-18      5  ...           222          2           0
4  335982  2008-04-18      5  ...           222          2           0

[5 rows x 17 columns]

In [58]:
t = test_set.copy()

In [59]:

t.to_csv('t.csv')

In [60]:
t.to_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/t.csv')
new.to_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/new.csv')

In [61]:
new.to_csv('news.csv')

In [94]:
tnew = t.drop(t[(t.over <= 11.0) | (t.over >=16.0)].index)
tnew.reset_index(drop = True)
y1test = tnew['total_runs_y']
y2test = tnew['winner']
tnew.drop(columns = ['id', 'date', 'year', 'total_runs_y', 'winner'], inplace = True)

In [95]:
tnew.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      9      6            9       1  ...    0            0         76           3
1      9      6            9       1  ...    0            0         77           3
2      9      6            9       1  ...    0            0         78           3
3      9      6            9       1  ...    0            0         79           3
4      9      6            9       1  ...    0            0         79           3

[5 rows x 12 columns]

In [96]:
print(tnew.shape)

(4576, 12)

In [97]:
xnew = new.drop(new[(new.over <= 11.0) | (new.over >=16.0)].index)
xnew.reset_index(drop = True)
y1train = xnew['total_runs_y']
y2train = xnew['winner']
xnew.drop(columns = ['id', 'date', 'year', 'total_runs_y', 'winner'], inplace = True)
xnew.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      5      9            5       1  ...    0            0        102           1
1      5      9            5       1  ...    0            0        108           1
2      5      9            5       1  ...    0            0        110           1
3      5      9            5       1  ...    0            0        111           1
4      5      9            5       1  ...    0            0        111           1

[5 rows x 12 columns]

In [98]:
print(xnew.shape)

(43828, 12)

In [99]:
xnewt = sc.fit_transform(xnew) 
tnewt = sc.fit_transform(tnew)

In [100]:
# rf.fit(xnewt, y1train)
# y_pred = rf.predict(tnewt)
# y1test = y1test.ravel()
# print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 10)))

In [101]:
# svr.fit(xnewt, y1train)
# y_pred = svr.predict(tnewt)
y1test = y1test.ravel()
# print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 10)))

In [102]:
# print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 12)))

lets try to improve the accuracy of svr by removing features

In [103]:
xf = xnew.drop(columns = ['D/L', 'eliminator?'])
tf = tnew.drop(columns = ['D/L', 'eliminator?'])

In [104]:
xft = sc.fit_transform(xf) 
tft = sc.fit_transform(tf)

In [105]:
# svr.fit(xft, y1train)
# y_pred = svr.predict(tft)
# y1test = y1test.ravel()
# print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 10)))

In [106]:
# print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 12)))

In [107]:
rf.fit(xft, y1train)
y_pred = rf.predict(tft)
y1test = y1test.ravel()
print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 10)))

Accuracy: 35.70804195804196

In [108]:
print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 12)))

Accuracy: 44.66783216783217

In [109]:
SVR().get_params().keys()

dict_keys(['C', 'cache_size', 'coef0', 'degree', 'epsilon', 'gamma', 'kernel', 'max_iter', 'shrinking', 'tol', 'verbose'])

In [110]:
# from sklearn.model_selection import GridSearchCV
# param_grid_svr = {
#               "C": [10,50,100],
#               "kernel" : ('poly', 'rbf')           
#              }         
# gr_svr = GridSearchCV(SVR(), param_grid_svr, cv=5, verbose=2)
# gr_svr.fit(xft, y1train)

In [111]:
# gr_svr.best_params_

In [112]:
svr = SVR(C = 0.3)
svr.fit(xft, y1train)
y_pred = svr.predict(tft)
print('Accuracy: ' + str(custom_accuracy(y1test, y_pred, 12)))

Accuracy: 52.381993006993014

In [113]:
# predictions = model.predict(xs)
sample = pd.DataFrame(y_pred,columns=['Predict'])
sample['Actual']=y1test
sample.head(10)

      Predict  Actual
0  156.873546     128
1  157.524894     128
2  158.174094     128
3  158.819650     128
4  158.260927     128
5  147.848251     128
6  147.248859     128
7  146.604859     128
8  145.949077     128
9  150.372776     128

In [114]:
ar1 = sample['Actual'].unique()
results = pd.DataFrame()
for items in ar1:
  # print(items)
  try2 = sample[sample.Actual == items]
  result = (try2.sum())/try2.shape[0]
  # print(result)
  res = result.values.reshape(1,2)
  # print(res)
  results = results.append(pd.DataFrame(res))

In [115]:
results.rename(columns = {0: 'Predict',
                          1: 'Actual'
                          }, inplace = True)
results.reset_index(drop = True)
print(custom_accuracy(results['Actual'].ravel(),results['Predict'].ravel(),12))

51.19047619047619

In [150]:
tests = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/testset.csv')
# tests.head()
tests.drop(columns = ['Unnamed: 0'], inplace = True)
tests.head()

        id        date  team1  ...  total_runs_y  cum_total  cum_wicket
0  1254058  2021-04-09     12  ...           159          2           0
1  1254058  2021-04-09     12  ...           159          2           0
2  1254058  2021-04-09     12  ...           159          2           0
3  1254058  2021-04-09     12  ...           159          4           0
4  1254058  2021-04-09     12  ...           159          4           0

[5 rows x 16 columns]

In [151]:
sets = tests.drop(tests[(tests.over <= 11.0) | (tests.over >=16.0)].index)
sets.reset_index(drop = True)
yt1 = sets['total_runs_y']
yt2 = sets['winner']
sets.drop(columns = ['id', 'date', 'total_runs_y', 'winner'], inplace = True)
sets.reset_index(drop=True).head()

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0     12      5            5       1  ...    0            0         95           2
1     12      5            5       1  ...    0            0         95           2
2     12      5            5       1  ...    0            0         96           2
3     12      5            5       1  ...    0            0         96           2
4     12      5            5       1  ...    0            0         97           2

[5 rows x 12 columns]

In [152]:
xs = sets.drop(columns = ['D/L', 'eliminator?'])

In [153]:
yt1 = yt1.ravel()
xs = sc.fit_transform(xs)

In [154]:
sets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1297 entries, 68 to 5096
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   team1         1297 non-null   int64
 1   team2         1297 non-null   int64
 2   toss_winner   1297 non-null   int64
 3   inning        1297 non-null   int64
 4   over          1297 non-null   float64
 5   batting_team  1297 non-null   int64
 6   bowling_team  1297 non-null   int64
 7   field         1297 non-null   int64
 8   D/L           1297 non-null   int64
 9   eliminator?   1297 non-null   int64
 10  cum_total     1297 non-null   int64
 11  cum_wicket    1297 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 131.7 KB

In [155]:
y_pred = svr.predict(xs)
sample = pd.DataFrame(y_pred,columns=['Predict'])
sample['Actual']=yt1
sample.head(10)

      Predict  Actual
0  168.487466     159
1  168.473710     159
2  169.035851     159
3  168.985779     159
4  169.521741     159
5  170.044438     159
6  169.941486     159
7  172.243450     159
8  172.651641     159
9  173.041098     159

In [156]:
ar1 = sample['Actual'].unique()
results = pd.DataFrame()
for items in ar1:
  # print(items)
  try2 = sample[sample.Actual == items]
  result = (try2.sum())/try2.shape[0]
  # print(result)
  res = result.values.reshape(1,2)
  # print(res)
  results = results.append(pd.DataFrame(res))

In [157]:
results.rename(columns = {0: 'Predict',
                          1: 'Actual'
                          }, inplace = True)
results.reset_index(drop = True)
print(custom_accuracy(results['Actual'].ravel(),results['Predict'].ravel(),12))

57.14285714285714

In [116]:
# rf.fit(X,y2)
# y_pred = rf.predict(X_test)
# y2_test = y2_test.ravel()
# print('Accuracy: ' + str(custom_accuracy(y2_test, y_pred, 10)))

In [117]:
# X_trans = sc.fit_transform(X)
# X_trans_test = sc.fit_transform(X_test)

In [118]:
# rf.fit(X_trans,y2)
# y_pred = rf.predict(X_trans_test)
# y2_test = y2_test.ravel()
# print('Accuracy: ' + str(custom_accuracy(y2_test, y_pred, 10)))

In [119]:
from sklearn.preprocessing import MinMaxScaler

In [120]:
# mmx = MinMaxScaler()
# X_scale = mmx.fit_transform(X)
# X_scale_test = mmx.fit_transform(X_test)

In [121]:
# rf.fit(X_scale,y2)
# y_pred = rf.predict(X_scale_test)
# y2_test = y2_test.ravel()
# print('Accuracy: ' + str(custom_accuracy(y2_test, y_pred, 10)))

In [122]:
# svr.fit(X_trans, y2)
# y_pred = svr.predict(X_trans_test)
# print('Accuracy: ' + str(custom_accuracy(y2_test, y_pred, 10)))

In [123]:
from sklearn.ensemble import GradientBoostingClassifier

In [124]:
# gbc = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0)
# gbc.fit(X_trans, y2)
# y_pred = gbc.predict(X_trans_test)
# print('Accuracy: ' + str(custom_accuracy(y2_test, y_pred, 12)))