<a href="https://colab.research.google.com/github/UtkarshAIITB/IPL-Data-Analysis/blob/main/models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Reading Data

In [82]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [83]:
ball = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/IPL Ball-by-Ball 2008-2020.csv')
print(ball.shape)
ball.head()                  #displays ball by ball data of each match from 2008-2020

(193468, 18)

       id  inning  ...           batting_team                 bowling_team
0  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 18 columns]

In [84]:
match = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL Score_Analysis/CSV/IPL Matches 2008-2020.csv')
print(match.shape)
match.head()           #displays the list and result of all matches from 2008 - 2020

(816, 17)

       id        city        date  ... method    umpire1         umpire2
0  335982   Bangalore  2008-04-18  ...    NaN  Asad Rauf     RE Koertzen
1  335983  Chandigarh  2008-04-19  ...    NaN  MR Benson      SL Shastri
2  335984       Delhi  2008-04-19  ...    NaN  Aleem Dar  GA Pratapkumar
3  335985      Mumbai  2008-04-20  ...    NaN   SJ Davis       DJ Harper
4  335986     Kolkata  2008-04-20  ...    NaN  BF Bowden     K Hariharan

[5 rows x 17 columns]

Merging the two dataframes

In [85]:
df = pd.merge(match , ball, on='id', how = 'right')
print(df.shape)
df.head()

(193468, 34)

       id       city  ...           batting_team                 bowling_team
0  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982  Bangalore  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 34 columns]

# PreProcessing Data

In [86]:
df.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2', 'inning',
       'over', 'ball', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
       'batting_team', 'bowling_team'],
      dtype='object')

In [87]:
# df.info()
#date is an object and not datetime
df['date'] = pd.to_datetime(df['date'])
# df.info()

In [88]:
df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [89]:
df = df.replace(['Rising Pune Supergiant' , 'Rising Pune Supergiants', 'Delhi Daredevils'], ['Pune Warriors' , 'Pune Warriors', 'Delhi Capitals'])
# df['team2'] = df['team2'].replace(['Rising Pune Supergiant' , 'Rising Pune Supergiants', 'Delhi Daredevils'], ['Pune Warriors' , 'Pune Warriors', 'Delhi Capitals'])

In [90]:
df['year'] = pd.DatetimeIndex(df['date']).year
df.head()

       id       city  ...                 bowling_team  year
0  335982  Bangalore  ...  Royal Challengers Bangalore  2008
1  335982  Bangalore  ...  Royal Challengers Bangalore  2008
2  335982  Bangalore  ...  Royal Challengers Bangalore  2008
3  335982  Bangalore  ...  Royal Challengers Bangalore  2008
4  335982  Bangalore  ...  Royal Challengers Bangalore  2008

[5 rows x 35 columns]

In [91]:
# df.to_csv('export1.csv')

In [92]:
df['method'].unique()
#can apply hot encoding

array([nan, 'D/L'], dtype=object)

In [93]:
columns = ['neutral_venue', 'result', 'result_margin', 'umpire1', 'umpire2', 'batsman', 'non_striker', 'bowler', 'non_boundary', 'dismissal_kind',
           'player_dismissed', 'fielder', 'extras_type', 'player_of_match', 'venue', 'city']
df_run = df.drop(columns = columns)
df_run.head()

       id       date  ...                 bowling_team  year
0  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
1  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
2  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
3  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
4  335982 2008-04-18  ...  Royal Challengers Bangalore  2008

[5 rows x 19 columns]

Filling Null values in the method column and then applying hotencoding

In [94]:
df_run['method']  = df_run['method'].fillna('Normal')
df_run.head()

       id       date  ...                 bowling_team  year
0  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
1  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
2  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
3  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
4  335982 2008-04-18  ...  Royal Challengers Bangalore  2008

[5 rows x 19 columns]

In [95]:
df_run['method'].value_counts()

Normal    190260
D/L         3208
Name: method, dtype: int64

In [96]:
df_run['eliminator'].value_counts()

N    189871
Y      3225
Name: eliminator, dtype: int64

In [97]:
df_run.isna().sum()

id                 0
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
winner           372
eliminator       372
method             0
inning             0
over               0
ball               0
batsman_runs       0
extra_runs         0
total_runs         0
is_wicket          0
batting_team       0
bowling_team     191
year               0
dtype: int64

In [98]:
df_run.shape    #before removing null values

(193468, 19)

In [99]:
winner_null = df_run[df_run['winner'].isna()]
winner_null
#we can safely drop winner_null

             id       date  ...                 bowling_team  year
57048    501265 2011-05-21  ...                          NaN  2011
57049    501265 2011-05-21  ...                          NaN  2011
57050    501265 2011-05-21  ...                          NaN  2011
57051    501265 2011-05-21  ...                          NaN  2011
57052    501265 2011-05-21  ...                          NaN  2011
...         ...        ...  ...                          ...   ...
176345  1178424 2019-04-30  ...  Royal Challengers Bangalore  2019
176346  1178424 2019-04-30  ...  Royal Challengers Bangalore  2019
176347  1178424 2019-04-30  ...  Royal Challengers Bangalore  2019
176348  1178424 2019-04-30  ...  Royal Challengers Bangalore  2019
176349  1178424 2019-04-30  ...  Royal Challengers Bangalore  2019

[372 rows x 19 columns]

The null values in winner correspond to the no result of the match, maybe due to the rains or unsuitable weather conditions

In [100]:
df_run = df_run.dropna()
df_run.isna().sum()

id               0
date             0
team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
eliminator       0
method           0
inning           0
over             0
ball             0
batsman_runs     0
extra_runs       0
total_runs       0
is_wicket        0
batting_team     0
bowling_team     0
year             0
dtype: int64

In [101]:
df_run.head()

       id       date  ...                 bowling_team  year
0  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
1  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
2  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
3  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
4  335982 2008-04-18  ...  Royal Challengers Bangalore  2008

[5 rows x 19 columns]

# Sorting

In [102]:
df_sort = df_run.sort_values(by = ['id', 'inning', 'over', 'ball'])
df_sort.head()

        id       date  ...                 bowling_team  year
79  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
80  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
81  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
82  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
83  335982 2008-04-18  ...  Royal Challengers Bangalore  2008

[5 rows x 19 columns]

In [103]:
print(df_sort.shape)
print(df_run.shape)

(193096, 19)
(193096, 19)

In [104]:
# df_sort.to_csv('final_data.csv')
df_sort = df_sort.reset_index()
df_sort = df_sort.drop(columns = 'index')
df_sort.head()

       id       date  ...                 bowling_team  year
0  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
1  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
2  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
3  335982 2008-04-18  ...  Royal Challengers Bangalore  2008
4  335982 2008-04-18  ...  Royal Challengers Bangalore  2008

[5 rows x 19 columns]

In [105]:
print(df_sort.shape)

(193096, 19)

* Winner is dependent on the total runs therefore by intuition we can remove winner column <br>
* Combine over and ball into a single column <br>
* Need to make a column of total runs scored at that point <br>
* Apply hot encoding for eliminator and method column and toss decision <br>
* What to predict? - total runs by the current batting team <br>
* To make a new column that consisits of cumulative runs and a new column of total runs and a new column of total wickets fallen <br>
* Remove winner (will predict on the basis of total runs ourselves) <br>
* Do label encoding for teams on the basis of their performace as calculated in EDA <br>
* Remove batsman runs, extraruns, totalruns and is_wicket,year <br>
* Check dependency of date column for the result, the code below already convert the datetime to numerical

In [106]:
# import datetime as dt
# df_run['date']=df_run['date'].map(dt.datetime.toordinal)    #date converted to numerical values for regression
# df_run.head()

## One hot encoding

In [107]:
dummy_td = pd.get_dummies(df_sort.toss_decision)
df_enc = pd.concat([df_sort, dummy_td], axis = 'columns')                     #encoded toss decisions - field or bat
df_enc = df_enc.drop(columns = ['toss_decision', 'bat', 'year'])
# df_enc.head()
dummy_td = pd.get_dummies(df_sort.method)
df_enc = pd.concat([df_enc, dummy_td], axis = 'columns')
df_enc = df_enc.drop(columns = ['method', 'Normal'])                          #encoded method - normal or D/L
# df_enc.head()
dummy_td = pd.get_dummies(df_sort.eliminator)
dummy_td.rename(columns = {'Y': 'eliminator?' }, inplace = True )
df_enc = pd.concat([df_enc, dummy_td], axis = 'columns')
df_enc = df_enc.drop(columns = ['eliminator', 'N'])  
df_enc.head()

       id       date                        team1  ... field D/L eliminator?
0  335982 2008-04-18  Royal Challengers Bangalore  ...     1   0           0
1  335982 2008-04-18  Royal Challengers Bangalore  ...     1   0           0
2  335982 2008-04-18  Royal Challengers Bangalore  ...     1   0           0
3  335982 2008-04-18  Royal Challengers Bangalore  ...     1   0           0
4  335982 2008-04-18  Royal Challengers Bangalore  ...     1   0           0

[5 rows x 18 columns]

In [108]:
df_enc.shape

(193096, 18)

Creating a new id on the basis of inning for calculating total score

In [109]:
df_enc['inning_bat'] = df_enc['id'].astype(str)+(df_enc['batting_team']).astype(str)
df_enc.head()

       id       date  ... eliminator?                   inning_bat
0  335982 2008-04-18  ...           0  335982Kolkata Knight Riders
1  335982 2008-04-18  ...           0  335982Kolkata Knight Riders
2  335982 2008-04-18  ...           0  335982Kolkata Knight Riders
3  335982 2008-04-18  ...           0  335982Kolkata Knight Riders
4  335982 2008-04-18  ...           0  335982Kolkata Knight Riders

[5 rows x 19 columns]

In [110]:
list1 = df_enc['inning_bat'].unique()
len(list1)

1624

In [111]:
list1

array(['335982Kolkata Knight Riders', '335982Royal Challengers Bangalore',
       '335983Chennai Super Kings', ..., '1237180Sunrisers Hyderabad',
       '1237181Delhi Capitals', '1237181Mumbai Indians'], dtype=object)

In [112]:
# df_enc.tail()

In [113]:
df_copy = df_enc.copy()
df_copy = df_copy.groupby(by = ['inning_bat']).sum()['total_runs'].reset_index()
df_copy.head()
#df_copy is giving correct total score; checked online

                           inning_bat  total_runs
0  1082591Royal Challengers Bangalore         172
1          1082591Sunrisers Hyderabad         207
2               1082592Mumbai Indians         184
3                1082592Pune Warriors         187
4                1082593Gujarat Lions         183

In [114]:
df_copy.shape #shape remains the same as len(list1)

(1624, 2)

In [115]:
data = pd.merge(left=df_enc, right=df_copy, on='inning_bat', how='right')
print(data.shape)
data.head()

(193096, 20)

        id       date  ...                          inning_bat total_runs_y
0  1082591 2017-04-05  ...  1082591Royal Challengers Bangalore          172
1  1082591 2017-04-05  ...  1082591Royal Challengers Bangalore          172
2  1082591 2017-04-05  ...  1082591Royal Challengers Bangalore          172
3  1082591 2017-04-05  ...  1082591Royal Challengers Bangalore          172
4  1082591 2017-04-05  ...  1082591Royal Challengers Bangalore          172

[5 rows x 20 columns]

In [116]:
data['over'] = data['over']+ (data['ball'])/10
data.drop(columns = ['ball'], inplace = True)
print(data.shape)
data.head()

(193096, 19)

        id       date  ...                          inning_bat total_runs_y
0  1082591 2017-04-05  ...  1082591Royal Challengers Bangalore          172
1  1082591 2017-04-05  ...  1082591Royal Challengers Bangalore          172
2  1082591 2017-04-05  ...  1082591Royal Challengers Bangalore          172
3  1082591 2017-04-05  ...  1082591Royal Challengers Bangalore          172
4  1082591 2017-04-05  ...  1082591Royal Challengers Bangalore          172

[5 rows x 19 columns]

In [117]:
df_final = pd.DataFrame()

## Adding cumulative runs and wickets

In [118]:
for bat in list1:
  inning  = data[data['inning_bat']==bat].copy()
  # inning.head()
  cum_total  = inning.loc[:,'total_runs_x'].cumsum(axis = 0)
  inning['cum_total'] = cum_total
  cum_wicket = inning.loc[:,'is_wicket'].cumsum(axis = 0)
  inning['cum_wicket'] = cum_wicket
  # inning.head()
  df_final = df_final.append(inning, ignore_index=True)

In [119]:
df_final.head()

       id       date  ... cum_total cum_wicket
0  335982 2008-04-18  ...         1          0
1  335982 2008-04-18  ...         1          0
2  335982 2008-04-18  ...         2          0
3  335982 2008-04-18  ...         2          0
4  335982 2008-04-18  ...         2          0

[5 rows x 21 columns]

In [120]:
# df_final.append(inning)
df_final.shape

(193096, 21)

## Label Encoding for teams

In [121]:
# df_final.to_csv('df_final.csv')
# f = df_final.copy()

In [122]:
# print(len(f['team1'].unique()))
# print(len(f['team2'].unique()))
# df['team1'].unique()

In [123]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
# f['team1']= le.fit_transform(f['team1'])
# print(f['team1'].unique())
# f.head()

In [124]:
# print(f['team2'].unique())
# f['team2']= le.fit_transform(f['team2'])
# print(f['team2'].unique())

## Manual Label Encoding
Assigning labels to teams on the basis of analysis carried out in EDA, so that even if the algorithm assumes some order it is well suited to the stronger team

In [125]:
team_dict = {'Mumbai Indians':1, 'Chennai Super Kings':2, 'Rajasthan Royals':3, 'Kolkata Knight Riders':4, 'Kings XI Punjab':5,
             'Sunrisers Hyderabad':6, 'Delhi Capitals':7, 'Royal Challengers Bangalore':8, 'Gujarat Lions':9, 'Deccan Chargers':10,
             'Pune Warriors':11, 'Kochi Tuskers Kerala':12
             }

In [126]:
bore = df_final.copy()
bore['team1'] = bore.team1.map(team_dict)
bore['team2'] = bore.team2.map(team_dict)
bore['toss_winner'] = bore.toss_winner.map(team_dict)
bore['winner'] = bore.winner.map(team_dict)
bore['batting_team'] = bore.batting_team.map(team_dict)
bore['bowling_team'] = bore.bowling_team.map(team_dict)
bore.head()

       id       date  team1  ...  total_runs_y  cum_total  cum_wicket
0  335982 2008-04-18      8  ...           222          1           0
1  335982 2008-04-18      8  ...           222          1           0
2  335982 2008-04-18      8  ...           222          2           0
3  335982 2008-04-18      8  ...           222          2           0
4  335982 2008-04-18      8  ...           222          2           0

[5 rows x 21 columns]

In [127]:
bore.drop(columns = ['extra_runs', 'inning_bat', 'batsman_runs', 'total_runs_x', 'is_wicket'], inplace = True)
bore.head()

       id       date  team1  ...  total_runs_y  cum_total  cum_wicket
0  335982 2008-04-18      8  ...           222          1           0
1  335982 2008-04-18      8  ...           222          1           0
2  335982 2008-04-18      8  ...           222          2           0
3  335982 2008-04-18      8  ...           222          2           0
4  335982 2008-04-18      8  ...           222          2           0

[5 rows x 16 columns]

In [128]:
bore.shape

(193096, 16)

In [129]:
# features = team1, team2, toss_winner, inning, over, batting_team, bowling_team, field, D/L. eliminator?, cum_total, cum_wicket
# total features = 12
# output1 = total_runs_y
# output2 = winner

In [130]:
go = bore.copy()
y2 = go['winner']
go.drop(columns = ['id', 'date', 'winner'], inplace = True)
go.head()

   team1  team2  toss_winner  ...  total_runs_y  cum_total  cum_wicket
0      8      4            8  ...           222          1           0
1      8      4            8  ...           222          1           0
2      8      4            8  ...           222          2           0
3      8      4            8  ...           222          2           0
4      8      4            8  ...           222          2           0

[5 rows x 13 columns]

In [131]:
# X = go['total_runs_y']
# go.drop(columns = ['total_runs_y'], inplace = True)

In [132]:
y = go.iloc[:,-3].values
y = y.reshape(-1,1)
go.drop(columns = ['total_runs_y'], inplace = True)

In [133]:
print(y.shape)
print(go.shape)
go.head()

(193096, 1)
(193096, 12)

   team1  team2  toss_winner  inning  ...  D/L  eliminator?  cum_total  cum_wicket
0      8      4            8       1  ...    0            0          1           0
1      8      4            8       1  ...    0            0          1           0
2      8      4            8       1  ...    0            0          2           0
3      8      4            8       1  ...    0            0          2           0
4      8      4            8       1  ...    0            0          2           0

[5 rows x 12 columns]

In [134]:
X = go.copy()                   #features

# Accuracy Model

In [135]:
def custom_accuracy2(y_test,y_pred,thresold):
    right = 0
    l = len(y_pred)
    for i in range(0,l):
        if(abs(y_pred[i]-y_test[i]) <= thresold):
            right += 1
    return ((right/l)*100)

# Training Model

In [136]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [137]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)

## Linear Regression

In [138]:
lin_reg = make_pipeline(StandardScaler(), LinearRegression())
lin_reg.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [139]:
print(y.shape)
y_pred = lin_reg.predict(X_test)

(193096, 1)

In [140]:
print(X_test.shape)
X_test.head()

(19310, 12)

        team1  team2  toss_winner  ...  eliminator?  cum_total  cum_wicket
26009       7      1            7  ...            0          4           0
56092       5      8            5  ...            0         76           5
137121      5     11            5  ...            0         88           4
86608       7      4            4  ...            0         50           2
90591       4      8            4  ...            0        115           9

[5 rows x 12 columns]

In [141]:
print("Custom accuracy: {:.3f} %".format(custom_accuracy2(y_test,y_pred,10)))

Custom accuracy: 41.636 %

## Random Forest Regressor

In [142]:
from sklearn.ensemble import RandomForestRegressor
rf = make_pipeline(StandardScaler(), RandomForestRegressor())
rf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/pipeline.py:394: DataConversionWarning:

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('randomforestregressor', RandomForestRegressor())])

In [143]:
y_predict = rf.predict(X_test)
print("Custom accuracy: {:.3f} %".format(custom_accuracy2(y_test,y_predict,10)))

Custom accuracy: 84.076 %

In [144]:
y_lol = rf.predict(X_train)
print("Custom accuracy: {:.3f} %".format(custom_accuracy2(y_train,y_lol,10)))

Custom accuracy: 96.141 %